<div class="background">
  <div class="footer">
    <div class="footer-wrapper">
      <div class="above-credits">
        <div class="contact-container">
          <div class="telephone">
            <img src="../../assets/images/phone-logo.svg" class="img" alt="" />
            <p class="phone-number">+48 665 746 387</p>
          </div>
          <div class="telephone">
            <img
              src="../../assets/images/envelope-logo.svg"
              class="img"
              alt=""
            />
            <p class="phone-number">hello@devboosters.com</p>
          </div>
        </div>
        <div class="link-container">
          <ul class="menu-list">
            <li><a href="">Home</a></li>
            <li><a href="">Launchpad</a></li>
            <li><a href="">Assistance</a></li>
            <li><a href="">Sourcing</a></li>
            <li><a href="">Contact</a></li>
          </ul>
          <div class="address-container">
            Devbooster <br />
            00-113 Warszawa<br />
            ul. Emilii Plater 53
          </div>
        </div>
      </div>
      <div class="credits">
        <span>
          subsidiary of <a href="https://ampcasd.com">ampcasd</a>
          <span class="divider">•</span>
          images:
          <a href="https://www.freepik.com/vectors/abstract"> freepik.com </a>
        </span>
        <br />
        <span>2022</span>
      </div>
    </div>
  </div>
</div>
