.background {
  overflow-x: clip;
  margin-top: -50px;
}

.footer {
  position: relative;
  overflow: clip;
  padding-top: -110px;
  display: flex;
  justify-content: center;

  span {
    text-align: center;
  }

  .divider {
    margin: 0 5px;
  }
}

.footer-wrapper {
  background-color: #433f51;
  margin-top: -1px;
}

.contact-container {
  position: relative;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
}

.telephone {
  display: inline-flex;
  font-size: 20px;
  font-weight: bold;
}

.phone-number {
  color: white;
}

.telephone p {
  padding-left: 10px;
}

.link-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

ul {
  width: 50%;
  display: inline-block;
  list-style: none;
}

li {
  margin-top: 10px;
  font-weight: bold;
}

.link-container {
  display: flex;
  justify-content: space-around;
}

.address-container {
  display: flex;
  flex-flow: column;
  justify-content: end;
  text-align: end;
  color: #ffffff80;
  width: 50%;
  padding: 30px;
  padding-bottom: 24px;
}

.above-credits {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100vw;
}

.menu-list {
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

.credits {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.img {
  margin-right: 27px;
}

@media screen and (min-width: 1024px) {
  div.link-container {
    width: 76%;
    justify-content: space-between;
  }
  div.contact-container {
    padding: 30px;
    margin-left: 6vw;
    width: 32%;
  }
  div.address-container {
    justify-content: flex-start;
    margin-right: 6vw;
    margin-top: 20px;
  }
  div.above-credits {
    flex-direction: row;
    align-items: space-around;
  }
  ul.menu-list {
    align-items: center;
    margin: none;
    padding: 30px;
  }
  div.credits {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  div.footer {
    flex-direction: row;
    display: block;
  }
  div.rounder {
    margin-top: -10vh !important;
  }
}
