<div class="footer-container">
  <div class="footer">
    <div class="footer-wrapper">
      <div class="above-credits">
        <div class="contact-container">
          <div class="telephone">
            <img src="../../assets/images/phone-logo.svg" class="img" alt="" />
            <a href="tel:+48732253993"
              ><p class="phone-number">+48 732 253 993</p></a
            >
          </div>
          <div class="telephone">
            <img
              src="../../assets/images/envelope-logo.svg"
              class="img"
              alt=""
            />
            <a href="mailto:hello@devboosters.com"
              ><p class="phone-number">hello@devboosters.com</p></a
            >
          </div>
        </div>
        <div class="link-container">
          <ul class="menu-list">
            <li><a href="/">Home</a></li>
            <li><a href="/launchpad">Launchpad</a></li>
            <li><a href="/assistants">Assistants</a></li>
            <li><a href="/sourcing">Sourcing</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <div class="address-container">
            DevBoosters <br />
            Irkucka 11 <br />
            51-210<br />
            Wrocław
          </div>
        </div>
      </div>
      <div class="credits">
        <span>
          subsidiary of <a href="https://ampcasd.com">ampcasd</a>
          <span class="divider">•</span>
          images:
          <a href="https://www.freepik.com/vectors/abstract"> freepik.com </a>
        </span>
        <br />
        <span>{{ currentYear }}</span>
      </div>
    </div>
  </div>
</div>
