<div class="footer">
  <div class="footer-circle"></div>
  <div class="footer-circle-two"></div>
  <div class="intrested">
    <div class="intrested-content">
      <p>Are you <strong>intrested</strong>?</p>
      <p class="intrested-content-slogan">Or maybe you have a question?</p>
    </div>
    <button class="intrested-button">CONTACT US!</button>
  </div>
  <div class="contact-container">
    <div class="telephone">
      <img src="../../assets/images/phone-logo.svg" alt="" />
      <p class="phone-number">+48 665 746 387</p>
    </div>
    <div class="telephone">
      <img src="../../assets/images/envelope-logo.svg" alt="" />
      <p class="phone-number">hello@devboosters.com</p>
    </div>
  </div>
  <div class="link-container">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">Homepage</a>
      </li>
      <li>
        <a routerLink="/launchpad" routerLinkActive="active">Launchpad</a>
      </li>
      <li>
        <a routerLink="/assistants" routerLinkActive="active">Assistants</a>
      </li>
      <li><a routerLink="/sourcing" routerLinkActive="active">Sourcing</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <div class="address-container">
      Devbooster <br />
      00-113 Warszawa<br />
      ul. Emilii Plater 53
    </div>
  </div>
  <div class="credits">
    <span>
      subsidiary of <a href="https://ampcasd.com">ampcasd</a>
      <span class="divider">•</span>
      images:
      <a href="https://www.freepik.com/vectors/abstract"> freepik.com </a>
    </span>
    <br />
    <span>2021</span>
  </div>
</div>
