.spotlights-background {
  background-color: #25192e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  padding-bottom: 100px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.295);
  gap: 100px;
}

.image-spotlights {
  width: 159.18px;
  height: 156px;
}

.header {
  font-size: 24px;
}

.spotlights-text-wrapper {
  text-align: center;
}

.spotlight-wrapper {
  text-align: center;
}

.description {
  font-size: 16px;
  line-height: 23px;
  text-align: center;

  color: #adadad;
}

.cyan-and-yellow-sticks {
  display: none;
}

.purple-and-yellow-sticks {
  display: none;
}

@media screen and (min-width: 1024px) {
  .image-spotlights {
    width: 437px;
    height: 351px;
  }
  .header {
    font-size: 48px;
    line-height: 68px;
  }

  .spotlights-text-wrapper {
    width: 503px;
    height: 156.47px;
  }

  .spotlight-wrapper {
    display: flex;
  }

  .reversed-spotlight {
    flex-direction: row-reverse;
  }

  .hide-img {
    display: none;
  }

  .cyan-and-yellow-sticks {
    display: flex;
    justify-content: end;
  }
  .purple-and-yellow-sticks {
    display: flex;
    justify-content: baseline;
  }
  .spotlights-background {
    padding: 0px;
  }
}
