<div class="background">
  <div class="inner spotlight">
    <div class="text">
      <h1>Let's boost your career!</h1>

      <span>
        Don't be on the mercy of recruiters for whom you are the product.
        <br />
        Partner with us instead, and invest in your growth.
        <br />
        Here it is <strong>your</strong> interest that is the priority.
      </span>
    </div>

    <div class="actions">
      <button class="button-primary" [routerLink]="'/pricing'">
        Get started!
      </button>
    </div>
  </div>
</div>
