.what-can-we-do-container {
  display: block;
}

.header-what-we-can {
  text-align: center;
}

.header-what-we-can {
  font-size: 30px;
}

.features {
  margin-top: 40px;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.features-image {
  height: 48px;

  ::before {
    width: 20px;
    height: 30px;
    background: blue;
    color: blue;
  }
}

.features-text-wrapper {
  margin-top: -73px;
  margin-left: 80px;
}

.features-header {
  font-size: 20px;
}

.features-description {
  font-size: 16px;
  margin-top: -15px;
}
