<div class="all">
  <img
    src="assets/images/purple-circle-segment-desktop.svg"
    class="purple-circle-segment"
  />

  <div class="above-here-we-are-wrapper">
    <img class="stripes-top" src="assets/images/Deco-1.svg" />

    <div class="above-here-we-are">
      <div class="header1">
        <h1>Contact</h1>
        <p style="margin-top: -30px" class="subheader">
          Make a first step toward boosting your career!
        </p>
      </div>
      <div class="contact-form-wrapper">
        <div class="purple-input">
          Your name: <input class="contact-input" />
        </div>
        <div class="purple-input">
          Your e-mail:
          <input class="contact-input" id="name" autocomplete="on" />
        </div>
        <div class="purple-input">
          Your message: <textarea class="message-input"></textarea>
        </div>
        <div class="statement">
          <input
            type="checkbox"
            id="checkbox"
            name="checkbox"
            class="checkbox"
          />
          <label for="checkbox" class="checkbox-text"
            >DevBoosters informs that submitting an application results in
            sharing with us all of your personal data, which is contained in the
            application form (including image) and other data and information
            which was published by you in your Submission.
          </label>
        </div>
        <button class="send-a-message-button">SEND A MESSAGE!</button>
      </div>
    </div>
  </div>

  <div class="here-we-are">
    <div class="background">
      <div class="rounder">
        <img
          class="purple-rounder-top"
          src="../../assets/images/purple-rounder-top.svg"
          alt=""
        />
      </div>
      <div class="here-we-are-container">
        <div class="position-wrapper">
          <div class="map-wrapper-mobile">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  width="350"
                  height="200"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=irkucka%2011&t=&z=15&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe
                ><br /><style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    height: 206px;
                    width: 327px;
                  }</style
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 206px;
                    width: 326px;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="map-wrapper-desktop">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  width="504"
                  height="317"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=irkucka%2011%20wroclaw&t=&z=5&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe
                ><br /><style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    height: 317px;
                    width: 504px;
                  }</style
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 317px;
                    width: 504px;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="text">
            <div class="here-we-are-wrapper">
              <div class="here-we-are-header">
                Here we <strong>are!</strong>
              </div>
            </div>
            <span class="address"
              >DevBoosters <br />
              ul. Irkucka 11 <br />
              51-210, Wrocław <br />Poland
            </span>
          </div>
        </div>
      </div>
      <img src="assets/images/grey-rounder-top.svg" class="rounder" />
    </div>
  </div>
</div>
