@import "@fortawesome/fontawesome-free/css/all.css";

.contact-component {
  background: #25192e;
  overflow: hidden;
  padding-top: 100px;

  &::before {
    content: "";
    width: 100%;
    height: 56rem;
    top: 0;
    left: 0;
    z-index: 10;
    background: #222526;
  }
}

.contact-form {
  background-color: #33303f;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-bottom: 80px;
}

.contact-form .right-column {
  width: 70%;
  padding-left: 6%;
}

.contact-form .text {
  width: 90%;
  padding-top: 5%;
}

.contact-image {
  padding-top: 50px;
}

.input-short {
  width: 80%;
  margin-bottom: 5px;
  padding-top: 20px;
}

.input {
  width: 80%;
  margin-bottom: 5px;
}

.message-input {
  height: 200px;
  width: 76.8%;
  background-color: transparent;
  border-radius: 8px;
  color: lightgray;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  outline: none;
  padding: 10px;
  border: solid 2px rgba(110, 110, 122, 0.5);
}

.button {
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 20px;
  display: block;
  -webkit-appearance: none;
  border: 0px;
  border-radius: 50px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  background: linear-gradient(90deg, #f17006, #eca622);
  color: #fff;
  margin-left: 27%;
}

.button:hover {
  background: linear-gradient(90deg, #ff7300, #f59313);
  color: #fff;
  cursor: pointer;
}

.address-and-map {
  background-color: #33303f;
  border-radius: 8px;
  width: 90%;
  display: flex;
  overflow: hidden;
  margin-left: 5%;
}

.address-and-map.right-column {
}

.map {
  border-radius: 8px;
  display: flex;
  justify-content: end;
  filter: grayscale(75%);
}

.address {
  padding: 4%;
  font-size: 18px;
  color: gray;
}

.icon {
  margin-right: 15px;
}

.address2 {
  margin-left: 15%;
}

.rounder {
  width: 100vw;
  margin-top: 50px;
  margin-bottom: -5px;
}
