<div class="all">
  <img
    src="assets/images/purple-circle-segment-desktop.svg"
    class="purple-circle-segment"
  />

  <div class="above-here-we-are-wrapper">
    <img class="stripes-top" src="assets/images/Deco-1.svg" />

    <div class="above-here-we-are">
      <div class="header1">
        <h1>Contact</h1>
        <p style="margin-top: -30px" class="subheader">
          Hey, guy. Just contact us, ok? Please
        </p>
      </div>
      <div class="contact-form-wrapper">
        <div class="input">Your name: <input class="contact-input" /></div>
        <div class="input">Your e-mail: <input class="contact-input" /></div>
        <div class="input">
          Your message: <textarea class="message-input"></textarea>
        </div>
        <button class="send-a-message-button">SEND A MESSAGE!</button>
      </div>
    </div>
  </div>

  <div class="here-we-are">
    <div class="background">
      <div class="rounder">
        <img
          class="purple-rounder-top"
          src="../../assets/images/purple-rounder-top.svg"
          alt=""
        />
      </div>
      <div class="here-we-are-container">
        <div class="position-wrapper">
          <div class="map-wrapper-mobile">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  width="350"
                  height="200"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=irkucka%2011&t=&z=15&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe
                ><a href="https://fmovies-online.net">fmovies</a><br /><style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    height: 200px;
                    width: 350px;
                  }</style
                ><a href="https://www.embedgooglemap.net">embedgooglemap.net</a
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 200px;
                    width: 350px;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="map-wrapper-desktop">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  width="504"
                  height="317"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=irkucka%2011&t=&z=5&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe
                ><a href="https://fmovies-online.net">fmovies</a><br /><style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    height: 317px;
                    width: 504px;
                  }</style
                ><a href="https://www.embedgooglemap.net"></a
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 317px;
                    width: 504px;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="text">
            <div class="here-we-are-wrapper">
              <div class="here-we-are-header">
                Here we <strong>are!</strong>
              </div>
            </div>
            <span class="address"
              >Devboosters <br />
              Wrocław, ul. Irkucka 11 <br />
              51-210</span
            >
          </div>
        </div>
      </div>
      <img src="assets/images/grey-rounder-top.svg" class="rounder" />
    </div>
  </div>
</div>
