<div class="background">
  <div class="top-circle"></div>
  <div class="header">
    <h1>
      Let us boost<br />
      your career
    </h1>
    <p style="margin-top: -30px">
      While you focus<br />
      on your code
    </p>
  </div>
  <div class="rectangle-purple-one"></div>
  <img src="assets/images/arrow.png" class="arrow" />
  <div class="header-assistant-image">
    <img src="assets/images/header-assistant.png" class="guy" />
  </div>
  <div class="rectangle-container">
    <div class="rectangle-cyan"></div>
    <div class="rectangle-yellow"></div>
    <div class="rectangle-purple"></div>
  </div>
  <spotlights [spotlights]="spotlights"></spotlights>
  <features [features]="features"></features>
</div>
