.background {
  color: white;
  justify-content: center;
  overflow: hidden;
}

.laptop-image {
  position: relative;
  left: 40px;
  margin-left: -55vw;
  margin-top: 150px;
  width: 264.32px;
  height: calc(45vw + 100px);
}

.purple-circle-segment {
  margin-left: 0vw;
  margin-top: 50px;
  height: auto;
}

.rounder-top {
  width: 100%;
  margin-bottom: -5px;
}
.rounder-bottom {
  width: 100%;
}

div.launchpad-header-and-image {
  display: flex;
  flex-direction: row;
  margin-top: -250px;
  display: flex;
  justify-content: center;
}

div.header1 {
  color: white;
  padding: 6%;
}

.stripes-top {
  width: calc(60px + 4vw);
  height: auto;
  margin-top: 5%;
  position: absolute;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.more-button {
  background-color: rgba(35, 23, 45, 255);

  border: solid 1px white;
  border-radius: 85px;
  color: aliceblue;
  letter-spacing: 2.5px;
  display: none;
  margin-top: 100px;
  cursor: pointer;
}
.more-button:hover {
  background-color: #673590;
}
.more-button-arrow {
  padding-left: 5px;
}

@media screen and (min-width: 601px) {
  .laptop-image {
    margin-left: -10vw;
    margin-top: 150px;
    width: auto;
    height: calc(45vw);
  }
  .purple-circle-segment {
    width: 90vw;
    margin-left: 0vw;
    height: auto;
  }
  .more-button {
    display: block;
    width: 165px;
    height: 55px;
    font-size: 17px;
  }

  div.launchpad-header-and-image {
    display: flex;
    flex-direction: row;
    margin-top: -60%;
    display: flex;
    justify-content: center;
  }

  div.header1 {
    color: white;
    font-size: calc(2.5vw + 10px);
    padding: 6%;
  }

  .stripes-top {
    width: calc(50px + 4vw);
    height: auto;
    margin-top: 5%;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) {
  .laptop-image {
    margin-left: 0vw;
    margin-top: 200px;
    width: auto;
    height: calc(25vw);
    min-height: 400px;
  }
  .purple-circle-segment {
    width: 80vw;
    margin-left: 0;
    margin-top: -10%;
    height: auto;
  }

  h1 {
    font-size: 80px;
  }

  p {
    font-size: 20px;
  }

  div.launchpad-header-and-image {
    display: flex;
    flex-direction: row;
    margin-top: -40%;
    display: flex;
    justify-content: center;
  }

  div.header1 {
    color: white;
    font-size: calc(2vw + 8px);
    padding: 6%;
  }

  .stripes-top {
    width: calc(50px + 4vw);
    height: auto;
    margin-top: 5%;
    position: absolute;
  }
  .more-button {
    width: 178px;
    height: 56px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .more-button:hover {
    background-color: #673590;
  }

  .rounder-top {
    width: 100%;
    margin-bottom: -5px;
  }
  .rounder-bottom {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .rounder-top {
    margin-top: 274px;
  }
}
