<div class="background">
  <div class="top-circle"></div>
  <div class="header1">
    <h1>Let us boost your career</h1>
    <p style="margin-top: -30px">While you focus on your code</p>
  </div>
  <div class="header-assistant-image">
    <img src="assets/images/header-assistant.png" />
  </div>
  <div class="container">
    <div class="career-analysis">
      <div class="header-career-analysis">
        <img
          class="image-career-analysis"
          src="assets/images/career-analysis.png"
        />
        <p>Career analysis</p>
      </div>
      <div class="description-career-analysis">
        <span>
          First, we determine your needs. We define what should be done to get
          you the work you want.
        </span>
      </div>
    </div>
    <div class="career-management">
      <div class="header-career-management">
        <img
          class="image-career-management"
          src="assets/images/career-management.png"
        />
        <p>Career analysis</p>
        <div class="description-career-management">
          <span
            >Next, we take ownership of driving your growth fast forward. We max
            out your online presence, talk with recruiters and apply to jobs for
            you.
          </span>
        </div>
      </div>
    </div>
    <div class="retrospection">
      <div class="header-retrospections">
        <img
          class="image-retrospections"
          src="assets/images/retrospections.png"
        />
        <p>Retrospections</p>
        <div class="description-retrospections">
          <span>
            After each of your job interviews we do a retro and prepare a
            summary of what should be done for you to improve.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="what-can-we-do-container">
    <div class="header-what-we-can">
      <p>What can we do for you</p>
    </div>
    <div class="job-hunting-wrapper">
      <img class="job-hunting-image" src="assets/images/job-hunting.png" />
      <div class="job-hunting-text-wrapper">
        <div class="job-hunting-header"><p>Job Hunting</p></div>
        <div class="job-hunting-description">
          <span>We free you the hassle related to finding your dream job.</span>
        </div>
      </div>
    </div>
    <div class="feed-wrapper">
      <img class="feed-image" src="assets/images/feed.png" />
      <div class="feed-text-wrapper">
        <div class="feed-header"><p>Feed</p></div>
        <div class="feed-description">
          <span
            >We prepare a personalized feed based on your specialization,
            vector, and performance.</span
          >
        </div>
      </div>
    </div>
    <div class="community-wrapper">
      <img class="community-image" src="assets/images/community.png" />
      <div class="community-text-wrapper">
        <div class="community-header"><p>Community</p></div>
        <div class="community-description">
          <span>Get access to the community of ambitious developers.</span>
        </div>
      </div>
    </div>
    <div class="growth-drive-wrapper">
      <img class="growth-drive-image" src="assets/images/growth-drive.png" />
      <div class="growth-drive-text-wrapper">
        <div class="growth-drive-header"><p>Growth Drive</p></div>
        <div class="growth-drive-description">
          <span>
            We make sure you don't plateau by checking up on you with interview
            questions tailored to your needs.
          </span>
        </div>
      </div>
    </div>
    <div class="lab-wrapper">
      <img class="lab-image" src="assets/images/lab.png" />
      <div class="lab-text-wrapper">
        <div class="lab-header"><p>Lab</p></div>
        <div class="lab-description">
          <span
            >Get involved in a side-project with interview questions tailored to
            your needs.</span
          >
        </div>
      </div>
    </div>
    <div class="candidate-analysis-wrapper">
      <img
        class="candidate-analysis-image"
        src="assets/images/candidate-analysis.png"
      />
      <div class="candidate-analysis-text-wrapper">
        <div class="candidate-analysis-header"><p>Candidate Analysis</p></div>
        <div class="candidate-analysis-description">
          <span
            >Get unbiased reviews of your online image and performance while
            interviewing.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="are-you-interested-container">
    <div class="are-you-interested-header"><p>Are you interested?</p></div>
    <div class="are-you-interested-description">
      <span
        >Get your own assistant working for you and invest in your growth. Here
        it is your interest that is the priority.</span
      >
    </div>
    <div class="inputs">
      <div class="name" type="name">Name</div>
      <input class="name-input" />
      <div class="e-mail">E-mail</div>
      <input class="e-mail-input" type="email" />
      <button class="get-started-button">GET STARTED!</button>
    </div>
  </div>
  <div class="footer-container">
    <div class="content-one">Menu one</div>
    <div class="content-two">Menu on something</div>
    <div class="content-three">Menu on subpage</div>
    <div class="content-four">Menu one here</div>
    <div class="content-five">Menu one</div>
  </div>
  <div class="adress-container">
    <div class="adress">Devbooster 00-113 Warszawa,ul.Emiliki Bieńka 53</div>
  </div>
</div>
