.background {
  overflow-x: hidden;
  color: white;
  justify-content: center;
  overflow: hidden;
}

.top-circle {
  height: 700px;
  width: 200vw;
  background-color: rgba(35, 23, 45, 255);
  border-radius: 100%;
  margin-left: -90vw;
  margin-top: -300px;
}

.header {
  color: white;
  font-size: 25px;
  margin-top: -362px;
  padding: 30px;
}

.header-assistant-image {
  width: 100vw;
  height: 486px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.arrow {
  position: absolute;
  margin: 30px;
  top: 300px;
}

.guy {
  margin-top: -170px;
}

.rectangle-purple-one {
  position: absolute;
  width: 56px;
  height: 8px;
  right: 9px;
  top: 239px;

  background: #ad00ff;
}
.rectangle-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 531px;
  right: 240px;
}

.rectangle-container.second {
  position: relative;
  top: -20px;
  right: auto;
  width: 0vh;
}

.rectangle-container.reversed {
  position: relative;
  right: auto;
  top: 701px;
  align-items: end;
  width: 0vw;
}

.rectangle-cyan {
  width: 63px;
  height: 8px;
  background: #00ffd1;
}

.rectangle-yellow {
  width: 35px;
  height: 8px;
  margin: 20px 0;
  background: #ffa800;
}

.rectangle-purple {
  width: 63px;
  height: 8px;
  background: #ad00ff;
}



.bottom-circle-gray {
  height: 900px;
  width: 300vw;
  background-color: rgba(67, 64, 82, 255);
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
}

.menus {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: 0 auto;
}

.menus-list {
  margin: 20px;
  margin-top: 48px;
}

.adress {
  position: relative;
  top: 124px;
  margin: 20px;
  margin-top: 48px;
  text-align: right;
}
