.background {
  color: white;
  justify-content: center;
  overflow: hidden;
}

.purple-circle-segment {
  width: 400px;
  margin-left: 0vw;
  margin-top: 50px;
  height: auto;
}

.rounder-top {
  width: 100%;
  margin-bottom: -5px;
}
.rounder-bottom {
  width: 100%;
  margin-top: -1px;
}

.rounder-top {
  width: 100%;
  margin-bottom: -5px;
}
.rounder-bottom {
  width: 100%;
}

@media screen and (min-width: 1400px) {
  .rounder-top {
    margin-top: 274px;
  }
}
