<div class="purple-circle-segment-wrapper">
  <img
    src="assets/images/purple-circle-segment-desktop.svg"
    class="purple-circle-segment"
  />
</div>
<div class="wrapper">
  <div class="launchpad-header-and-image">
    <div class="header1">
      <h1>{{ banner.header }}</h1>
      <p style="margin-top: -30px">{{ banner.subheader }}</p>
      <div class="wrapper-button">
        <a pageScroll [href]="banner.redirectionButton">
          <button class="more-button">
            MORE
            <img
              src="assets/images/more-button-arrow.svg"
              class="more-button-arrow"
            />
          </button>
        </a>
      </div>
      <img class="stripes-top" src="assets/images/sticks-assistants.svg" />
    </div>
    <img class="laptop-image" [src]="banner.image" />
  </div>
</div>
