.background {
  overflow-x: hidden;
  color: white;
  min-width: 400px;
  justify-content: center;
}

<<<<<<< HEAD
.header1 {
  color: white;
  font-size: 25px;
  margin-top: -330px;
=======
.launchpad {
  background-color: #2e2e35;
  border-radius: 8px;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-bottom: 80px;
  }


.launchpad-text {
  width: 90%;
>>>>>>> master
  padding: 6%;
}

.top-circle {
  height: 700px;
  width: 200vw;
  background-color: rgba(35, 23, 45, 255);
  border-radius: 100%;
  margin-left: -90vw;
  margin-top: -300px;
}

.bottom-circle-purple {
  height: 150vh;
  width: 300vw;
  background-color: rgba(35, 23, 45, 255);
  border-radius: 100%;
  margin-left: -100vw;
  margin-top: -650px;
}

.bottom-circle-gray {
  height: 2000px;
  width: 400vw;
  background-color: rgba(67, 64, 82, 255);
  border-radius: 100%;
  margin-left: -150vw;
  margin-top: -110vh;
}

.bottom-rectangle-gray {
  height: 300px;
  width: 100vw;
  background-color: rgba(67, 64, 82, 255);
  margin-left: -100vw;
  margin-top: -100px;
  position: static;
}

.laptop-image {
  margin-top: 20px;
  margin-left: 60px;
  height: 100%;
  width: 100%;
}

.what-is-it .header {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  flex-shrink: 0;
  margin-left: 40px;
  margin-top: 140px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  div.what-is-it {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1024px) {
  div.what-is-it .header {
    font-size: 35px;
  }
}

.description {
  color: white;
  font-size: 17px;
  padding: 7%;
  margin-bottom: 60px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.description {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.description {
    font-size: 17px;
  }
}

.how-it-works-header {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 40px;
}

.how-it-works {
  background-color: rgba(35, 23, 45, 255);
  justify-content: center;
  align-items: center;
  width: 250vw;
  border-radius: 90%;
  padding-left: 77vw;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-left: -77vw;
}

@media screen and (min-width: 1024px) {
  div.how-it-works {
    padding-left: 87vw;
    margin-right: 10vw;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.how-it-works-header {
    font-size: 35px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.how-it-works-header {
    font-size: 30px;
  }
}

.numbers {
  border: solid 2px blueviolet;
  border-radius: 100%;
  text-align: center;
  font-size: max(30px, 5vw);
  font-weight: 600;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 5%;
}

.how-it-works-explanation {
  display: flex;
  flex-direction: column;
}

.image-and-number {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-and-number2 {
  display: flex;
  flex-direction: row;
}

.explanation-blocks .text {
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  width: 50%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.explanation-blocks .text {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.hexplanation-blocks .text {
    font-size: 17px;
  }
}

.explanation-blocks {
  margin-left: 30px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.explanation-blocks2 {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  align-items: center;
}

.explanation-blocks2 .text {
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  width: 80%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.explanation-blocks2 .text {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.hexplanation-blocks2 .text {
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  div.launchpad-perks {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.launchpad-perks .header {
  font-size: 25px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 40px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.launchpad-perks .header {
    font-size: 35px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.launchpad-perks .header {
    font-size: 30px;
  }
}

.launchpad-perks .explanation-blocks {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-items: center;
}

.launchpad-perks .image-and-number {
  margin-top: -80px;
}

.stars {
  border: solid 2px blueviolet;
  min-width: 55px;
  min-height: 55px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 100%;
  text-align: center;
  font-size: max(30px, 5vw);
  font-weight: 600;
}

// font-size: 6vw;
// padding-left: 2vw;
// padding-right: 2vw;
// margin-left: 5%;

.launchpad-perks .summary {
  font-size: 17px;
  padding: 40px;
  margin-top: -20px;
  color: rgb(156, 156, 156);
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.explanation-blocks .summary {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.explanation-blocks .summary {
    font-size: 17px;
  }
}

.call-to-action {
  font-size: 25px;
  text-align: center;
  padding-top: 140px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.call-to-action {
    font-size: 35px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.call-to-action {
    font-size: 25px;
  }
}

.button {
  background-image: linear-gradient(40deg, #bb30ee 0%, #671cf3 100%);
  font-size: 14px;
  padding: 20px;
  width: 300px;
  border-radius: 70px;
  color: white;
  margin-top: 50px;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.incentive {
  color: white;
  font-weight: 500;
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.incentive {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.incentive {
    font-size: 25px;
  }
}

.image {
  width: 15vw;
  min-width: 100px;
  height: auto;
}

.phone-block {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
}

.phone-image {
  height: 100%;
  padding-top: 8px;
}

.phone-number {
  margin-left: 30px;
}

.email-block {
  display: flex;
  flex-direction: row;
}

.email-image {
  height: 100%;
  padding-top: 8px;
}

.email-address {
  margin-left: 30px;
}

.contact {
  margin-left: 40px;
  margin-top: 250px;
}

.explained-image {
  width: 50vw;
  height: auto;
  min-width: 250px;
  max-width: 350px;
}
