<div class="background">
  <div class="purple-circle-segment-wrapper">
    <img
      src="assets/images/purple-circle-segment-desktop.svg"
      class="purple-circle-segment"
    />
  </div>
  <div class="top">
    <div class="launchpad-header-and-image">
      <div class="h1">
        <h1>Launchpad</h1>
        <p style="margin-top: -30px" class="subheader">A place for growth.</p>
        <a pageScroll href="launchpad#how-it-works"
          ><button class="more-button">
            MORE
            <img
              src="assets/images/more-button-arrow.svg"
              class="more-button-arrow"
            /></button
        ></a>
        <img class="stripes-top" src="assets/images/Deco-1.svg" />
      </div>
      <img class="laptop-image" src="assets/images/laptop.png" />
    </div>
  </div>
  <div class="what-is-it">
    <img class="header-image" src="assets/images/bulb.svg" />
    <div class="what-is-it-text">
      <div class="mobile-header">
        <img class="mobile-image" src="assets/images/bulb.svg" />

        <h1 class="header-text">What is <strong>it?</strong></h1>
      </div>
      <div class="description">
        <span>
          Launchpads allow experienced Software Engineers totake on the
          responsibility of educating Junior Developersand reap the rewards of
          that commitment.

          <br /><br />Może jeszcze jakieś 2 zdania takiego powiedzmy
          wprowadzenia. By tak od razu do konkretów nie przechodzić, ale też
          oczywiście, żeby nie przedobrzyć :)
        </span>
      </div>
    </div>
  </div>
  <img src="assets/images/purple-rounder-top.svg" class="rounder-top" />

  <div class="how-it-works" id="how-it-works">
    <div class="how-it-works-header">
      <img class="header-image" src="assets/images/gears.svg" />
      <p class="header-text">How it <strong>works?</strong></p>
    </div>
    <div class="how-it-works-explanation">
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-1.svg" />
          <div class="numbers">1</div>
          <div class="stick"></div>
        </div>
        <div class="text">
          <span
            >First, we register you and then set up the
            <strong>Launchpad.</strong></span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-2.svg" />

          <div class="numbers">2</div>
          <div class="stick"></div>
        </div>
        <div class="text">
          <span
            >Launchpads are set up as an on-site office that is run by the
            mentor as a <strong>side gig to their day job.</strong></span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-3.svg" />

          <div class="numbers">3</div>
          <div class="stick"></div>
        </div>
        <div class="text">
          <span
            >Mentors' mission is to first spend months educating the Mentees -
            so that they're <strong>not junior anymore</strong> - and
            subcontracting them on predefined rates.</span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-4.svg" />

          <div class="numbers">4</div>
        </div>
        <div class="text">
          <span
            >Once hired, mentees get additional support for an initial period of
            time to reach their <strong>independence</strong> quickly.</span
          >
        </div>
        <img class="deco-4" src="assets/images/Deco-4.svg" />
      </div>
    </div>
  </div>
  <img src="assets/images/purple-rounder-bottom.svg" class="rounder-bottom" />

  <div class="launchpad-perks">
    <div class="header">
      <img class="header-image" src="assets/images/flags.svg" />
      <p class="header-text">Launchpad <strong>perks</strong></p>
    </div>
    <div class="bulletpoints-wrapper">
      <div class="launchpad-perks-bulletpoints">
        <div class="stick2-desktop"></div>
        <div class="stick2-mobile"></div>
        <div class="explanation-blocks2">
          <div class="star-wrapper">
            <img src="assets/images/star.svg" class="star-image" />
          </div>

          <div class="text">
            <span
              >In a world of too many Juniors and not enough Seniors,we provide
              experience to inexperienced developers.
            </span>
          </div>
        </div>
        <div class="explanation-blocks2">
          <div class="star-wrapper">
            <img src="assets/images/star.svg" class="star-image" />
          </div>

          <div class="text">
            <span
              >In a world of high rotation, we offer retention in formsof
              Loyalty Agreements and continuous growth.</span
            >
          </div>
        </div>
        <div class="explanation-blocks2">
          <div class="star-wrapper">
            <img src="assets/images/star.svg" class="star-image" />
          </div>

          <div class="text">
            <span
              >In a world where job hunting can take a year, we offerhelp with
              the process to take on tedious tasks.
            </span>
          </div>
        </div>

        <div class="explanation-blocks2">
          <div class="star-wrapper">
            <img src="assets/images/star.svg" class="star-image" />
          </div>
          <div class="shadow"></div>

          <div class="text">
            <span
              >We bring proper sourcing-related incentives toSoftware Engineers.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="summary-wrapper">
      <div class="summary">
        A big incentive for our clients is guaranteed retention of Launchpad
        members.<br /><br />
        Mentees are committing to two-year-long Loyalty Agreements as a form of
        appreciationfor free education, and mentors keep growing with their
        Launchpad - what hinders their need for looking for other opportunities.
      </div>
    </div>
  </div>
</div>
