/////////////////////////////////////--------//////////////////////////////////////
//////////////////////////////////// GLOBAL //////////////////////////////////////
///////////////////////////////////--------//////////////////////////////////////////
.background {
  overflow-x: hidden;
  color: white;
  justify-content: center;
}

/////////////////////////////////////----------------------////////////////////////////
//////////////////////////////////// TOP CIRCLE AND TITLE ////////////////////////////
///////////////////////////////////----------------------////////////////////////////

.laptop-image {
  margin-left: -55vw;
  margin-top: 150px;
  width: auto;
  height: calc(45vw + 100px);
}

.purple-circle-segment {
  width: 400px;
  margin-left: 0vw;
  margin-top: 50px;
  height: auto;
}

div.launchpad-header-and-image {
  display: flex;
  flex-direction: row;
  margin-top: -250px;
  justify-content: center;
}

.h1 {
  margin-top: 30px;
  font-size: 24px;
}

.subheader {
  font-size: 16px;
  color: #e3e1de;
  padding-top: 10px;
}

.stripes-top {
  width: 120px;
  height: auto;
  margin-top: 5%;
  position: absolute;
}

.more-button {
  background-color: rgba(35, 23, 45, 255);

  border: solid 1px white;
  border-radius: 85px;
  color: aliceblue;
  letter-spacing: 2.5px;
  display: none;
  margin-top: 100px;
}

.more-button-arrow {
  padding-left: 5px;
}
@media screen and (min-width: 601px) {
  .laptop-image {
    margin-left: -10vw;
    margin-top: 150px;
    width: auto;
    height: calc(45vw);
  }
  .purple-circle-segment {
    width: 90vw;
    margin-left: 0vw;
    height: auto;
  }
  .more-button {
    display: block;
    width: 165px;
    height: 55px;
    font-size: 17px;
  }

  div.launchpad-header-and-image {
    display: flex;
    flex-direction: row;
    margin-top: -60%;
    display: flex;
    justify-content: center;
  }

  .h1 {
    color: white;
    font-size: 30px;
  }

  .stripes-top {
    width: 120px;
    height: auto;
    margin-top: 5%;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) {
  .laptop-image {
    margin-left: 0vw;
    margin-top: 200px;
    width: auto;
    height: calc(25vw);
    min-height: 400px;
  }
  .purple-circle-segment {
    width: 80vw;
    margin-left: 0;
    margin-top: -10%;
    height: auto;
  }

  .h1 {
    margin-top: 150px;
    font-size: 40px;
  }

  div.launchpad-header-and-image {
    display: flex;
    flex-direction: row;
    margin-top: -35%;
    display: flex;
    justify-content: center;
  }

  div.header1 {
    color: white;
    font-size: calc(2vw + 8px);
    padding: 6%;
  }

  .stripes-top {
    width: 120px;
    height: auto;
    margin-top: 5%;
    position: absolute;
  }
  .more-button {
    width: 178px;
    height: 56px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/////////////////////////////////////------------//////////////////////////////////////
//////////////////////////////////// WHAT IS IT //////////////////////////////////////
///////////////////////////////////------------//////////////////////////////////////

.what-is-it {
  display: flex;
  flex-direction: column;
  margin-bottom: -10%;
}

.rounder-top {
  width: 100%;
  margin-bottom: -5px;
}

.rounder-bottom {
  width: 100%;
  position: relative;
}

.what-is-it-text {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 100px;
}

div.what-is-it .header-image {
  display: none;
}

.mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.mobile-image {
  width: 17vw;
  min-width: 100px;
  max-width: 240px;
  height: auto;
  margin-right: 5vw;
}

.description {
  font-size: 16px;
  max-width: 528px;
  margin-right: 32px;
  margin-left: 32px;
}

@media screen and (min-width: 601px) {
  div.description {
    font-size: 16px;
  }
  div.what-is-it {
    margin-bottom: 0vh;
  }
}

@media screen and (min-width: 1024px) {
  div.what-is-it {
    margin-left: 0vw;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0vh;
    margin-top: 7%;
  }
  div.what-is-it-text {
    font-size: 30px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  div.description {
    font-size: 16px;
  }
  div.what-is-it .header-image {
    display: flex;
  }
}

@media screen and (min-width: 1400px) {
  div.what-is-it {
    margin-left: 0vw;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0vh;
    margin-top: 7%;
  }
}

/////////////////////////////////////--------------////////////////////////////////////
//////////////////////////////////// HOW IT WORKS ////////////////////////////////////
///////////////////////////////////--------------////////////////////////////////////

.how-it-works-header {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
  font-size: 30px;
}

.how-it-works {
  background-color: #25192e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  align-items: center;
  padding-bottom: 100px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.295);
}

.numbers {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  border: solid 1px #ac00ff;
  border-radius: 50%;
  z-index: 2;
  background-color: #2e2b39;
  width: 1.7em;
  height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stick {
  position: absolute;
  display: block;
  width: 1px;
  height: 74%;
  background-color: #ac00ff;
  right: 29px;
  top: 110px;
}

.explained-image {
  width: 180px;
  height: auto;
  max-width: 350px;
  margin: 10%;
}

.stick2-desktop {
  position: absolute;
  width: 1px;
  height: calc(75% - 32px - 44px);
  background-color: #ac00ff;
  display: none;
  left: 0px;
  top: calc(32px + 15%);
}

.stick2-mobile {
  position: absolute;
  width: 1px;
  height: calc(75% - 32px - 44px);
  background-color: #ac00ff;
  display: flex;
  left: 54px;
  top: calc(32px + 15%);
}

.how-it-works-explanation {
  position: relative;
}

.image-and-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.explanation-blocks {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.explanation-blocks .text {
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 15%;
  width: 60vw;
}

.deco-4 {
  display: none;
}

@media screen and (min-width: 601px) {
  div.how-it-works-header {
    font-size: 35px;
  }
  div.explanation-blocks .text {
    width: 50vw;
  }
  img.explained-image {
    width: 300px;
    height: auto;
  }

  .stick {
    position: absolute;
    display: block;
    width: 1px;
    height: 75%;
    right: 29px;
    top: 185px;
  }
  .how-it-works-explanation {
    max-width: 750px;
  }
  div.how-it-works .image-and-number {
    width: 75vw;
  }
}

@media screen and (min-width: 1024px) {
  .header-text {
    font-size: 60px;
  }
  div.how-it-works .image-and-number {
    flex-direction: row-reverse;
    width: 75vw;
  }
  div.how-it-works-header {
    justify-content: center;
    width: 100vw;
    margin-left: 0px;
    margin-bottom: 44px;
  }
  div.numbers {
    margin-left: 64px;
    margin-right: 64px;
    font-size: 40px;
    padding: 50px;
  }
  div.how-it-works-explanation {
    align-items: flex-start;
    max-width: 1032px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .stick {
    position: absolute;
    display: block;
    width: 1px;
    height: 72%;
    left: 147px;
    top: 210px;
  }

  div.stick2-desktop {
    position: absolute;
    display: block;
    width: calc(75% - 32px);
    height: 1px;
    background-color: #ac00ff;
    left: calc(32px + 12%);
    top: 97px;
    z-index: 0;
  }
  div.explanation-blocks .text {
    font-size: 16px;
    margin-left: 64px;
  }
  div.explanation-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  img.explained-image {
    width: 370px;
    max-width: none;
  }
  .stick2-mobile {
    display: none;
  }
  .deco-4 {
    top: 1262px;
    left: 89px;
    display: block;
    position: absolute;
    z-index: 10;
  }
}

/////////////////////////////////////-----------------////////////////////////////////////
//////////////////////////////////// LAUNCHPAD PERKS ////////////////////////////////////
///////////////////////////////////-----------------////////////////////////////////////

.launchpad-perks-bulletpoints {
  background-color: #33303f;
  border-radius: 16px;
  box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.167);
  width: 90%;
  padding: 32px 16px 44px;
  position: relative;
  max-width: 1120px;
}

.bulletpoints-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.explanation-blocks2 {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  color: white;
}

.explanation-blocks2 .text {
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  width: 90%;
  color: white !important;
}

.header {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 44px;
  align-items: center;
  justify-content: center;
}

.star-wrapper {
  border: solid 1px #ac00ff;
  min-width: 30px;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.55em;
  border-radius: 100%;
  background-color: #2e2b39;
  z-index: 10;
}

.star-image {
  width: 30px;
  height: auto;
}

.launchpad-perks .summary {
  font-size: 16px;
  padding: 40px;
  margin-top: 50px;
  text-align: center;
  color: rgb(178, 178, 178);
  max-width: 551px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launchpad-perks .image-and-number {
  margin-top: -80px;
}

.header-image {
  width: 17vw;
  min-width: 100px;
  max-width: 200px;
  height: auto;
  margin-right: 5vw;
}

.launchpad-perks .header .image {
  width: 17vw;
  min-width: 100px;
  max-width: 210px;
  height: auto;
  margin-right: 5vw;
}

@media screen and (min-width: 601px) {
  div.header {
    font-size: 35px;
  }
}

@media screen and (min-width: 1024px) {
  div.launchpad-perks-bulletpoints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    width: 75%;
  }

  div.explanation-blocks2 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0;
    max-width: 355px;
    width: inherit;
  }

  div.explanation-blocks2 .text {
    font-size: 16px;
    padding: 0;
    padding-top: 20px;
  }
  div.header {
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 70px;
  }
  div.launchpad-perks-explanation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  img.star-image {
    width: 52px;
    height: auto;
  }
  .star-wrapper {
    padding: 1.5em;
  }
  div.launchpad-perks .summary {
    max-width: 551px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 17px;
    color: rgb(178, 178, 178);
    margin-top: 5%;
    margin-bottom: 3%;
  }

  div.mobile-header {
    padding-bottom: 0px;
  }
  img.mobile-image {
    display: none;
  }
}
