<div class="main-container">
  <div class="main-header">
    <img
      class="stripes1"
      src="../../assets/images/stripes1.svg"
      alt="stripes1"
    />
    <img
      class="stripes2"
      src="../../assets/images/stripes2.svg"
      alt="stripes2"
    />

    <h1 class="main-baner">
      Multi-faceted approach
      <br />
      to <strong>growth</strong>
    </h1>
    <div class="main-mission">
      Our mission is to boost careers of Software Developers.
    </div>
    <div class="baner-img">
      <div class="baner-circle"></div>
      <img src="../../assets/images/devbooter 3.png" />
    </div>
  </div>
</div>
<div class="how">
  <button class="how-button">
    how we do that <img src="../../assets/images/strzalka-w-dol.svg" alt="" />
  </button>
</div>
<div class="launchpad-container">
  <div class="launchpad-logo">
    <img
      class="launchpad-img"
      src="../../assets/images/laptop.png"
      alt="laptop"
    />
    <div class="launchpad-circle"></div>
  </div>

  <div class="launchpad-txt-container">
    <div class="launchpad-title">Launchpad</div>
    <div class="launchpad-content">
      <p>
        Launchpads allow experienced Software Engineers totake on the
        responsibility of educating Junior Developersand reap the rewards of
        that commitment.
      </p>

      <p>
        Launchpads are set up as an on-site office that is run bythe mentor as a
        side gig to their day job.
      </p>
    </div>
  </div>
  <div class="how">
    <button class="how-button launchpad-button">
      View more<img src="../../assets/images/strzalka-w-prawo.svg" alt="" />
    </button>
  </div>
</div>
