<div class="background">
  <div class="top-circle"></div>
  <div class="header1">
    <h1>Launchpad</h1>
    <p style="margin-top: -30px">A place for growth.</p>
  </div>
  <div class="laptop-image">
    <img src="assets/images/laptop.png" />
  </div>
  <div class="what-is-it">
    <div class="header">
      <img class="image" src="assets/images/bulb.svg" />
      <p>What is <strong>it?</strong></p>
    </div>
    <div class="description">
      <span>
        Launchpads allow experienced Software Engineers to educate Junior
        Developers and reap the rewards of that commitment.
        <br /><br />Launchpads are set up as an on-site office that is run by
        the mentor as a side gig to their day job.
      </span>
    </div>
  </div>

  <div class="how-it-works">
    <div class="how-it-works-header">
      <img class="image" src="assets/images/gears.svg" />
      <p class="header">How it works?</p>
    </div>
    <div class="how-it-works-explanation">
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-1.png" />

          <div class="numbers">1</div>
        </div>
        <div class="text">
          <span
            >First, we register you and then set up the
            <strong>Launchpad.</strong></span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-2.png" />

          <div class="numbers">2</div>
        </div>
        <div class="text">
          <span
            >Launchpads are set up as an on-site office that is run by the
            mentor as a <strong>side gig to their day job.</strong></span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-3.png" />

          <div class="numbers">3</div>
        </div>
        <div class="text">
          <span
            >Mentors' mission is to first spend months educating the Mentees -
            so that they're <strong>not junior anymore</strong> - and
            subcontracting them on predefined rates.</span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-4.png" />

          <div class="numbers">4</div>
        </div>
        <div class="text">
          <span
            >Once hired, mentees get additional support for an initial period of
            time to reach their <strong>independence</strong> quickly.</span
          >
        </div>
      </div>
    </div>
    <div class="launchpad-perks">
      <div class="header">
        <img class="image" src="assets/images/cup.svg" />
        <p class="h1">Launchpad <strong>perks</strong></p>
      </div>
      <div class="launchpad-perks-explanation">
        <div class="explanation-blocks2">
          <div class="stars">☆</div>

          <div class="text">
            <span
              >First, we register you and then set up the
              <strong>Launchpad.</strong></span
            >
          </div>
        </div>
        <div class="explanation-blocks2">
          <div class="stars">☆</div>

          <div class="text">
            <span
              >Launchpads are set up as an on-site office that is run by the
              mentor as a <strong>side gig to their day job.</strong></span
            >
          </div>
        </div>
        <div class="explanation-blocks2">
          <div class="stars">☆</div>

          <div class="text">
            <span
              >Mentors' mission is to first spend months educating the Mentees -
              so that they're <strong>not junior anymore</strong> - and
              subcontracting them on predefined rates.</span
            >
          </div>
        </div>
        <div class="explanation-blocks2">
          <div class="stars">☆</div>

          <div class="text">
            <span
              >Once hired, mentees get additional support for an initial period
              of time to reach their
              <strong>independence</strong> quickly.</span
            >
          </div>
        </div>
        <div class="summary">
          <div class="incentive">
            A big incentive for our clients is
            <strong>guaranteed retention</strong> of Launchpad members.
          </div>
          <br /><br />
          Mentees are committing to two- year-long Loyalty Agreements as a form
          of appreciation for free education, and mentors keep growing with
          their Launchpad - what hinders their need for looking for other
          opportunities.
        </div>
      </div>
      <div class="call-to-action">
        <div class="text">
          Are you <strong>interested?</strong> <br />Got any
          <strong>questions?</strong>
        </div>
        <button class="button">CONTACT US!</button>
      </div>

      <div class="contact">
        <div class="phone-block">
          <img class="phone-image" src="assets/images/phone.png" />
          <p class="phone-number"><strong>+48 665 746 387</strong></p>
        </div>
        <div class="email-block">
          <img class="email-image" src="assets/images/email.png" />
          <p class="email-address"><strong>hello@devboosters.com</strong></p>
        </div>
        <p>
          Each Launchpad is expected to source a new batch ofengineers every 6 -
          12 months. We give our partnersadequate heads up with skills and
          timeframes forpotential hires so that partners have enough time
          forfinding the right placement.
        </p>
        <p>
          Our Assistants pass the profiles and expectations ofengineers as they
          express willingness to work with us.
        </p>
      </div>

      <div class="bottom-circle-purple"></div>
      <div class="bottom-circle-gray"></div>
      <div class="bottom-rectangle-gray"></div>
    </div>
  </div>
</div>
