.background {
  color: white;
  justify-content: center;
  overflow: hidden;
}

.purple-circle-segment {
  width: 400px;
  margin-left: 0vw;
  margin-top: 50px;
  height: auto;
}

.rounder-top {
  width: 100%;
  margin-bottom: -5px;
}
.rounder-bottom {
  width: 100%;
  margin-top: -1px;
}

.rounder-top {
  width: 100%;
  margin-bottom: -5px;
}
.rounder-bottom {
  width: 100%;
}

.what-can-we-do-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header-what-we-can {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  display: flex;
}

.header {
  font-size: 20px;
}

.features-header-image {
  width: 70px;
  height: 70px;
}

.features-wrapper {
  display: flex;
}

@media screen and (min-width: 1400px) {
  .rounder-top {
    margin-top: 274px;
  }
}

@media screen and (min-width: 1024px) {
  .header-what-we-can {
    font-size: 48px;
    line-height: 68px;
    justify-content: center;
    gap: 32px;
    display: flex;
    align-items: center;
  }

  .features-header-image {
    width: 235px;
    height: 228px;
  }

  .what-can-we-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bulletpoints-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.explanation-blocks2 {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  color: white;
}

.explanation-blocks2 .text {
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  width: 90%;
  color: white !important;
}

.header {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 44px;
  align-items: center;
  justify-content: center;
}

.star-wrapper {
  border: solid 1px #ac00ff;
  min-width: 30px;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.55em;
  border-radius: 100%;
  background-color: #2e2b39;
  z-index: 10;
}

.star-image {
  width: 30px;
  height: auto;
}

.launchpad-perks .summary {
  font-size: 16px;
  padding: 40px;
  margin-top: 50px;
  text-align: center;
  color: rgb(178, 178, 178);
  max-width: 551px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launchpad-perks .image-and-number {
  margin-top: -80px;
}

.header-image {
  width: 17vw;
  min-width: 100px;
  max-width: 200px;
  height: auto;
  margin-right: 5vw;
}

.launchpad-perks .header .image {
  width: 17vw;
  min-width: 100px;
  max-width: 210px;
  height: auto;
  margin-right: 5vw;
}

@media screen and (min-width: 601px) {
  div.header {
    font-size: 35px;
  }
}

@media screen and (min-width: 1024px) {
  div.launchpad-perks-bulletpoints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    width: 90%;
    max-width: 1119px;
  }
}

//////////////////////Our Skills //////////////////////

.launchpad-perks-bulletpoints {
  background-color: #33303f;
  border-radius: 16px;
  box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.167);
  width: 90%;
  padding: 32px 16px 44px;
  position: relative;
  max-width: 1120px;
}

.bulletpoints-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.explanation-blocks2 {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  color: white;
}

.explanation-blocks2 .text {
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  width: 90%;
  color: white !important;
}

.header {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 44px;
  align-items: center;
  justify-content: center;
}

.star-wrapper {
  border: solid 1px #ac00ff;
  min-width: 30px;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.55em;
  border-radius: 100%;
  background-color: #2e2b39;
  z-index: 10;
}

.star-image {
  width: 30px;
  height: auto;
}

.launchpad-perks .summary {
  font-size: 16px;
  padding: 40px;
  margin-top: 50px;
  text-align: center;
  color: rgb(178, 178, 178);
  max-width: 551px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launchpad-perks .image-and-number {
  margin-top: -80px;
}

.header-image {
  width: 17vw;
  min-width: 100px;
  max-width: 200px;
  height: auto;
  margin-right: 5vw;
}

.launchpad-perks .header .image {
  width: 17vw;
  min-width: 100px;
  max-width: 210px;
  height: auto;
  margin-right: 5vw;
}

.stick2-desktop {
  position: absolute;
  width: 1px;
  height: calc(70% - 32px - 44px);
  background-color: #ac00ff;
  display: none;
  left: 0px;
  top: calc(32px + 15%);
}

.stick2-mobile {
  position: absolute;
  width: 1px;
  height: calc(70% - 32px - 44px);
  background-color: #ac00ff;
  display: flex;
  left: 54px;
  top: calc(32px + 15%);
}

@media screen and (min-width: 601px) {
  div.header {
    font-size: 35px;
  }
}

@media screen and (min-width: 1024px) {
  div.stick2-desktop {
    position: absolute;
    display: block;
    width: calc(70% - 32px);
    height: 1px;
    background-color: #ac00ff;
    left: calc(32px + 12%);
    top: 88px;
    z-index: 0;
  }

  .stick2-mobile {
    display: none;
  }

  div.launchpad-perks-bulletpoints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    width: 90%;
    max-width: 1119px;
  }

  div.explanation-blocks2 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0;
    max-width: 355px;
    width: inherit;
  }

  div.explanation-blocks2 .text {
    font-size: 16px;
    padding: 0;
    padding-top: 20px;
  }
  div.header {
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 70px;
  }
  div.launchpad-perks-explanation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  img.star-image {
    width: 48px;
    height: auto;
  }
  .star-wrapper {
    padding: 1em;
  }
  div.launchpad-perks .summary {
    max-width: 551px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 17px;
    color: rgb(178, 178, 178);
    margin-top: 5%;
    margin-bottom: 3%;
  }

  div.mobile-header {
    padding-bottom: 0px;
  }
  img.mobile-image {
    display: none;
  }
}
