.background {
  overflow-x: hidden;
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-template-columns: auto 16px 500px 500px 16px auto;
  grid-template-rows: 2% 400px 100px auto;
  grid-template-areas:
    "top top top top top top"
    ". header header header-img-mobile header-img  . "
    ". header-rectangle . . header-img-rectangle ."
    ". header-rectangle-mobile . . . ."
    "middle-halfcircle-top middle-halfcircle-top middle-halfcircle-top middle-halfcircle-top middle-halfcircle-top middle-halfcircle-top"
    "middle middle middle middle middle middle"
    "middle-halfcircle-bottom middle-halfcircle-bottom middle-halfcircle-bottom middle-halfcircle-bottom middle-halfcircle-bottom middle-halfcircle-bottom "
    ". bottom bottom bottom bottom .";
}

// HEADER
.sourcing-header-top-circle {
  width: 80vw;
  margin-left: 0;
  margin-top: -10%;
  height: auto;
}
.sourcing-header-top-circle-wrapper {
  grid-area: top;
  justify-self: stretch;
  width: 100%;
}

.sourcing-header {
  grid-area: header;
  color: white;
}

.sourcing-header-title {
  font-weight: 700;
  font-size: 80px;
}
.sourcing-header-description {
  margin-top: -30px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff80;
}

.sourcing-header-image {
  padding-top: 100px;
  grid-area: header-img;
  justify-self: end;
  width: 616px;
}

.rectangle-container-header {
  grid-area: header-rectangle;
  place-self: end start;
}

// BUTTON

.more-button {
  background-color: rgba(35, 23, 45, 255);

  border: solid 1px white;
  border-radius: 85px;
  color: aliceblue;
  letter-spacing: 2.5px;
  display: none;
  margin-top: 100px;
  cursor: pointer;
}
.more-button:hover {
  background-color: #673590;
}
.more-button-arrow {
  padding-left: 5px;
}

.more-button {
  width: 178px;
  height: 56px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

// MIDDLE

.sourcing-middle-wrapper {
  grid-area: middle;
  background-color: rgba(37, 25, 46, 1);
  display: grid;
  grid-template-columns: auto 1032px auto;
  grid-template-areas: ". middle-content .";
}

.sourcing-middle {
  grid-area: middle-content;
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
}

.sourcing-middle-entry {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}
.source-middle-image {
  align-self: center;
  width: 45%;
}

#source-middle-image-desktop {
  visibility: visible;
}

#source-middle-image-mobile {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.sourcing-middle-text {
  width: 45%;
  font-size: 30px;
}

.sourcing-middle-header {
  text-align: center;
  font-size: 48px;
}

.sourcing-middle-description {
  font-weight: 400;
  font-size: 16px;
}

.sourcing-middle-halfcircle-top {
  grid-area: middle-halfcircle-top;
  place-self: end;
  width: 100%;
  margin-top: -50px;
}
.sourcing-middle-halfcircle-bottom {
  grid-area: middle-halfcircle-bottom;
  width: 100%;
}

.rectangle-container-middle-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.rectangle-container-middle-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// BOTTOM

.sourcing-bottom {
  grid-area: bottom;
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-areas:
    ". . entry . ."
    ". bulletpoints bulletpoints bulletpoints ."
    ". description description description .";
  place-items: center;
  margin-top: -70px;
}

.sourcing-bottom-entry {
  grid-area: entry;
  text-align: center;
}

.sourcing-bottom-text {
  font-size: 30px;
}

div.sourcing-bottom-description {
  grid-area: description;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

// BOTTOM BULLET LIST

.sourcing-bottom-bulletpoints {
  grid-area: bulletpoints;
  background-color: #33303f;
  border-radius: 15px;
  box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.167);
  display: flex;
  justify-content: space-evenly;
}

.sourcing-bottom-bulletpoints-entry {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  color: white;
}

.sourcing-bottom-entry-bulletpoints-description {
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
  width: 100%;
  color: white;
}

.sourcing-bottom-bulletpoints-star {
  border: solid 2px blueviolet;
  min-width: 15px;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  border-radius: 100%;
  text-align: center;
  background-color: #2e2b39;
  z-index: 1;
}

.sourcing-bottom-bulletpoints-line {
  position: absolute;
  margin-top: 64px;
  height: 1px;
  width: 680px;
  border: solid 1px blueviolet;
}

// W 1280-1024
@media screen and (max-width: 1280px) {
  .background {
    grid-template-columns: 5% 20% 25% 25% 20% 5%;
  }
  .sourcing-middle-wrapper {
    grid-template-columns: 5% 90% 5%;
  }
  .sourcing-bottom-bulletpoints-line {
    width: 60%;
  }
}

// W 600-1024
@media screen and (max-width: 1023px) {
  .background {
    grid-template-columns: 5% 20% 25% 25% 20% 5%;
  }
  .sourcing-header-image {
    grid-area: header-img-mobile;
    margin-top: 150px;
    margin-left: -200px;
    justify-self: start;
    width: 800px;
  }

  .sourcing-middle-header{
    font-size: 24px;
  }

  .rectangle-container-header {
    grid-area: header-rectangle-mobile;
  }
  .rectangle-container-header-img {
    grid-row: 1;
    grid-column: 5;
    margin-bottom: -80px;
  }

  .sourcing-bottom-bulletpoints-line {
    width: 60%;
  }
}

// W <600
@media screen and (max-width: 600px) {
  .background {
    grid-template-columns: 5% 0 65% 25% 0 5%;
    grid-template-rows: 2% 20px 0px 20px 400px auto 100px auto;
  }

  .more-button-link {
    display: none;
  }

  .sourcing-header-top-circle {
    width: 400px;
    margin-left: 0;
    margin-top: 50px;
    height: auto;
  }

  .sourcing-header-image {
    grid-area: header-img-mobile;
    margin-top: 0px;
    margin-left: -200%;
    justify-self: start;
    width: 350px;
  }

  .sourcing-header-description {
    font-size: 20px;
    font-weight: 400;
  }
  .sourcing-header-title {
    font-weight: bold;
    font-size: 40px;

  }

  .rectangle-container-header {
    margin-bottom: -180px;
    grid-area: header-rectangle-mobile;
    place-self: end start;
    width: 80px;
  }
  .rectangle-container-middle-right {
    display: none;
  }

  .rectangle-container-middle-left {
    display: none;
  }

  .sourcing-middle-wrapper {
    grid-template-columns: 5% 90% 5%;
  }
  .sourcing-middle-entry {
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
  }

  .source-middle-image {
    width: 195px;
    height: 156.13px;
  }

  #source-middle-image-desktop {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  #source-middle-image-mobile {
    visibility: visible;
    width: 100%;
    height: auto;
    width: 195px;
    height: 156.13px;
  }

  .sourcing-middle-text {
    text-align: center;
    width: 100%;
  }

  .sourcing-bottom-bulletpoints {
    flex-direction: column;
  }

  .sourcing-bottom-bulletpoints-entry {
    flex-direction: row;
  }

  .sourcing-bottom-bulletpoints-star img {
    scale: 70%;
  }

  .sourcing-bottom-bulletpoints-line {
    margin-top: 0px;
    margin-left: 43px;
    height: calc(600px - 25%);
    width: 1px;
  }
}
