<div class="background">
  <div class="sourcing-header-top-circle-wrapper">
    <div class="sourcing-header-top-circle"></div>
  </div>

  <div class="sourcing-header">
    <h1>Sourcing</h1>
    <p class="sourcing-header-description">Good old sourcing</p>
    <a pageScroll href="/sourcing#more">
      <button class="more-button">
        <span class="more-button-text">more</span
        ><img src="../../assets/images/strzalka-w-prawo.svg" alt="" />
      </button>
    </a>
  </div>

  <div class="rectangle-container-header">
    <div class="rectangle-cyan"></div>
    <div class="rectangle-yellow"></div>
    <div class="rectangle-purple"></div>
  </div>

  <img
    class="sourcing-header-image"
    src="assets/images/sourcing-top-girl.png"
  />

  <div class="rectangle-container-header-img">
    <div class="rectangle-purple"></div>
  </div>

  <img
    src="../../assets/images/Ellipse 16.png"
    class="sourcing-middle-halfcircle-top"
  />

  <div class="sourcing-middle-wrapper" id="more">
    <div class="sourcing-middle">
      <div class="sourcing-middle-entry">
        <img
          class="source-middle-image"
          src="assets/images/sourcing-middle-ourpeople.png"
        />
        <div class="sourcing-middle-text">
          <p class="sourcing-middle-header">Our <strong>People</strong></p>
          <div class="sourcing-middle-description">
            <span>
              Launchpads allow experienced Software Engineers to educate Junior
              Developers and reap the rewards of that commitment.
              <br /><br />Launchpads are set up as an on-site office that is run
              by the mentor as a side gig to their day job.
            </span>
          </div>
        </div>
      </div>

      <div class="rectangle-container-middle-first">
        <div class="rectangle-cyan"></div>
        <div class="rectangle-yellow"></div>
      </div>

      <div class="sourcing-middle-entry">
        <img
          class="source-middle-image"
          id="source-middle-image-mobile"
          src="assets/images/sourcing-middle-ourapproach.png"
        />
        <div class="sourcing-middle-text">
          <p class="sourcing-middle-header">Our <strong>Approach</strong></p>
          <div class="sourcing-middle-description">
            <span>
              Apart from streams created by the dynamics ofLaunchpads and
              Assistants, there is a growing number ofexperienced Software
              Engineers that are willing to workwith us. With the growth of our
              people, more people are coming.
              <br /><br />With the growth of our people, more people are coming.
            </span>
          </div>
        </div>
        <img
          class="source-middle-image"
          id="source-middle-image-desktop"
          src="assets/images/sourcing-middle-ourapproach.png"
        />
      </div>

      <div class="rectangle-container-middle-second">
        <div class="rectangle-yellow"></div>
        <div class="rectangle-purple"></div>
      </div>

      <div class="sourcing-middle-entry">
        <img
          class="source-middle-image"
          src="assets/images/sourcing-middle-ourexperience.png"
        />
        <div class="sourcing-middle-text">
          <p class="sourcing-middle-header">Our <strong>Experience</strong></p>
          <div class="sourcing-middle-description">
            <span>
              Launchpads allow experienced Software Engineers totake on the
              responsibility of educating Junior Developersand reap the rewards
              of that commitment.
              <br /><br />Launchpads are set up as an on-site office that is run
              bythe mentor as a side gig to their day job.
            </span>
          </div>
        </div>
      </div>
      <div class="rectangle-container-middle-third">
        <div class="rectangle-cyan"></div>
        <div class="rectangle-yellow"></div>
      </div>
    </div>
  </div>
  <img
    src="../../assets/images/Ellipse 17.png"
    class="sourcing-middle-halfcircle-bottom"
  />

  <div class="sourcing-bottom">
    <div class="sourcing-bottom-entry">
      <img class="image" src="assets/images/sourcing-bottom-ourskills.png" />
      <div class="sourcing-bottom-text">
        <p class="sourcing-middle-header">Our <strong>Skills</strong></p>
      </div>
    </div>

    <div class="sourcing-bottom-bulletpoints">
      <div class="sourcing-bottom-bulletpoints-line"></div>

      <div class="sourcing-bottom-bulletpoints-entry">
        <div class="sourcing-bottom-bulletpoints-star">
          <img src="assets/images/star.svg" />
        </div>

        <div class="sourcing-bottom-entry-bulletpoints-description">
          <span
            >In a world of too many Juniors and not enough Seniors,we provide
            experience to inexperienced developers.
          </span>
        </div>
      </div>

      <div class="sourcing-bottom-bulletpoints-entry">
        <div class="sourcing-bottom-bulletpoints-star">
          <img src="assets/images/star.svg" />
        </div>

        <div class="sourcing-bottom-entry-bulletpoints-description">
          <span
            >In a world of high rotation, we offer retention in formsof Loyalty
            Agreements and continuous growth.</span
          >
        </div>
      </div>

      <div class="sourcing-bottom-bulletpoints-entry">
        <div class="sourcing-bottom-bulletpoints-star">
          <img src="assets/images/star.svg" />
        </div>

        <div class="sourcing-bottom-entry-bulletpoints-description">
          <span
            >In a world where job hunting can take a year, we offerhelp with the
            process to take on tedious tasks.
          </span>
        </div>
      </div>
    </div>

    <div class="sourcing-bottom-description">
      A big incentive for our clients is guaranteed retention of launchpad
      members. <br /><br />
      <span>
        Mentees are committing to
        <strong>two-year-long Loyalty Agreements </strong>as a form of
        appreciationfor free education, and mentors keep growing with their
        Launchpad - what hinders their need for looking for other opportunities.
      </span>
    </div>
  </div>
</div>
