.wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  width: calc(100% - 30rem);
  margin: auto;
  height: 10rem;
  margin-top: 65%;
  background: #2e2e35;
  border-radius: 7px;
}
