<div class="bar" [class.locked]="navigationBarLocked">
  <a class="logo" href="/">DewBuster</a>

  <ul>
    <li
      *ngFor="let menuItem of menuItems"
      [class.selected]="menuItem.selected"
      [routerLink]="menuItem.path"
    >
      <a>{{ menuItem.displayValue }}</a>
    </li>
  </ul>

  <button
    class="hamburger hamburger--vortex"
    [class.is-active]="hamburgerActive"
    type="button"
  >
    <span class="hamburger-box" (click)="hamburgerActive = !hamburgerActive">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
