<div class="bar" [class.locked]="navigationBarLocked">
  <a class="logo" href="/">DevBoosters</a>

  <ul>
    <li
      *ngFor="let menuItem of menuItems"
      [class.selected]="menuItem.selected"
      [routerLink]="menuItem.path"
    >
      <a>
        <div class="border-left"></div>
        {{ menuItem.displayValue }}</a
      >
    </li>
  </ul>

  <button
    class="hamburger hamburger--vortex"
    [class.is-active]="hamburgerActive"
    type="button"
  >
    <span class="hamburger-box" (click)="hamburgerActive = !hamburgerActive">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<div [className]="hamburgerActive ? 'popup in' : 'popup out'">
  <div>
    <ul class="ul-container" (click)="hamburgerActive = false">
      <li><a routerLink="/" routerLinkActive="active">HOMEPAGE</a></li>
      <li>
        <a routerLink="/launchpad" routerLinkActive="active">LAUNCHPAD</a>
      </li>
      <li>
        <a routerLink="/assistants" routerLinkActive="active">ASSISTANCE</a>
      </li>
      <li><a routerLink="/sourcing" routerLinkActive="active">SOURCING</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
    </ul>
  </div>
</div>
