@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.bar {
  position: absolute;
  top: 0;
  display: flex;
  height: 15vh;
  width: 100%;
  padding: 0 32px;
  align-items: center;
  z-index: 1000;
  background: transparent;

  &.locked {
    animation: reveal-header 0.75s;
    position: fixed;
    height: 15vh;
    background: #2a2c2e;
    box-shadow: rgba(6, 6, 6, 0.45) 0px 0px 20px 0px;
  }

  .logo {
    font-size: 22px;
    font-weight: 700;
    color: #e3e1de;
  }

  .logo:hover {
    font-size: 22px;
    font-weight: 700;
    color: #e3e1de;

    background-color: #f3ec78;
    background-image: linear-gradient(90deg, #e9d14b, #f17006);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: background-image 1s;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    // margin: 0 1rem;
    // padding: 0 0.5rem;

    &--selected {
      border-bottom: 3px solid #edb92e;
    }
  }

  .logo,
  li {
    margin-bottom: 7px;
  }

  ul,
  .hamburger {
    margin-left: auto;
  }

  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 1032px) {
  .bar {
    height: 15vh;
    padding: 0 20px;

    .logo {
      font-size: 22px;
    }

    .hamburger {
      display: block;
    }

    ul {
      display: none;
    }
  }
}

@-moz-keyframes reveal-header {
  0% {
    top: -5em;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes reveal-header {
  0% {
    top: -5em;
  }
  100% {
    top: 0;
  }
}

@-ms-keyframes reveal-header {
  0% {
    top: -5em;
  }
  100% {
    top: 0;
  }
}

@keyframes reveal-header {
  0% {
    top: -5em;
  }
  100% {
    top: 0;
  }
}

// popup wrapper

.popup {
  position: fixed;
  top: 15vh;
  width: 100%;
  height: 85vh;
  left: 0;
  z-index: 900;
  background-color: #2a2c2e;
  overflow: hidden;
}

.ul-container {
  margin: 15vh 0 0 0;
  padding: 0;
}
.popup li a {
  color: white;
}

.popup li {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  list-style: none;
  padding: 5px 0;
  text-align: center;
}

.in {
  position: fixed;
  top: 15vh;
  opacity: 1;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.out {
  position: fixed;
  font-size: 24px;
  top: -100vh;
  margin: 0;
  opacity: 0;
  font-weight: bold;
  text-align: center;
  list-style: none;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

@media screen and (min-width: 600px) {
  .popup li {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
