@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@media screen and (max-width: 799px) {
  .bar {
    position: fixed;
    height: 10vh;
    width: 100vw;
    background-color: #33303f;
    z-index: 1000;
  }

  .bar .desktop-ul {
    display: none;
  }

  .logo {
    display: inline-block;
    font-size: 25px;
    margin-left: 15px;
    line-height: 10vh;

    color: white;
  }

  .hamburger-box {
    position: fixed;
    top: 5vh;
    right: 5vh;
    width: 5vh;
    height: 5vh;
    transform: translate(50%, -50%);
    margin-right: 15px;
  }

  .popup {
    position: fixed;
    top: 8vh;
    width: 100%;
    height: 90vh;
    left: 0;
    z-index: 900;
    background-color: #2a2c2e;
    overflow: hidden;
  }

  .ul-container {
    margin: 10vh 0 0 0;
    padding: 0;
  }
  .popup li a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    height: 30px;
  }

  .popup li {
    position: relative;
    margin-bottom: 35px;
    margin-left: 40px;
    font-size: 20px;
    list-style: none;
    padding: 5px 0;
    line-height: 30px;
  }

  .popup ul li:active {
    a {
      color: white;
    }

    .border-left {
      position: relative;
      top: 10px;
      left: 0;
      display: inline-block;
      opacity: 0.5;
      margin-right: 15px;
      width: 2px;
      height: 40px;
      background-color: #ad00ff;
      border-radius: 5px;
    }
  }

  .in {
    position: fixed;
    top: 10vh;
    height: 90vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
  }

  .out {
    position: fixed;
    font-size: 24px;
    top: -100vh;
    margin: 0;
    transition: 0.5s;
    transition-timing-function: ease-in;
  }

  .rounder.top {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -10;
  }

  .rounder.bottom {
    position: absolute;
    bottom: -10vh;
    z-index: -10;
  }
}

@media screen and (min-width: 800px) {
  .out {
    display: none;
  }

  .bar {
    min-width: 800px;
    position: absolute;
    top: 0;
    display: flex;
    height: 5vh;
    width: 100%;
    padding: 32px;
    align-items: center;
    z-index: 1000;
    background: #33303f;
    &.locked {
      animation: reveal-header 0.75s;
      position: fixed;
      height: 5vh;
      background: #2a2c2e;
      box-shadow: rgba(6, 6, 6, 0.45) 0px 0px 20px 0px;
    }

    .logo {
      font-size: calc(5vw +0px);
      font-weight: 700;
      color: #e3e1de;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 1rem;
      padding: 0 0.5rem;

      &--selected {
        border-bottom: 3px solid #edb92e;
      }
    }

    .logo,
    li {
      margin-bottom: 7px;
    }

    ul,
    .hamburger {
      margin-left: auto;
    }

    .hamburger {
      display: none;
    }
  }

  @-moz-keyframes reveal-header {
    0% {
      top: -5em;
    }
    100% {
      top: 0;
    }
  }

  @-webkit-keyframes reveal-header {
    0% {
      top: -5em;
    }
    100% {
      top: 0;
    }
  }

  @-ms-keyframes reveal-header {
    0% {
      top: -5em;
    }
    100% {
      top: 0;
    }
  }

  @keyframes reveal-header {
    0% {
      top: -5em;
    }
    100% {
      top: 0;
    }
  }

  .bar {
    margin: 0;
    height: 5vh;
    .logo,
    .logo:hover {
      line-height: calc(1vw + 30px);
      font-size: calc(1vw + 10px);
      margin: 0;
    }
    li {
      font-size: calc(1vw + 20px);
      margin: 0 0.8vw;
      transition: 0.5s;
      .border-left {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: #ad00ff;
        border-radius: 5px;
        transition: 0.2s;
      }
    }
    li:hover {
      .border-left {
        opacity: 1;
      }
    }

    a {
      display: block;
      position: relative;
      padding-left: 15px;
    }

    &.locked {
      height: 5vh;
    }
  }
  a {
    font-size: calc(1vw + 5px);
  }
}
