<div class="bar" [class.locked]="navigationBarLocked">
  <a class="logo" href="/">DevBoosters</a>

  <ul class="desktop-ul">
    <li *ngFor="let menuItem of menuItems" [class.selected]="menuItem.selected">
      <a
        [routerLink]="menuItem.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="border-left"></div>
        {{ menuItem.displayValue }}</a
      >
    </li>
  </ul>

  <button
    class="hamburger hamburger--vortex"
    [class.is-active]="hamburgerActive"
    type="button"
  >
    <span class="hamburger-box" (click)="hamburgerActive = !hamburgerActive">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<div [className]="hamburgerActive ? 'popup in' : 'popup out'">
  <div>
    <img
      class="rounder top"
      src="../../assets/images/mobile-nav-top.png"
      alt=""
    />
    <ul class="ul-container" (click)="hamburgerActive = false">
      <li>
        <div class="border-left"></div>
        <a routerLink="/" routerLinkActive="active">HOMEPAGE</a>
      </li>
      <li>
        <div class="border-left"></div>
        <a routerLink="/launchpad" routerLinkActive="active">LAUNCHPAD</a>
      </li>
      <!-- <li>
        <div class="border-left"></div>
        <a routerLink="/assistants" routerLinkActive="active">ASSISTANTS</a>
      </li> -->
      <li>
        <div class="border-left"></div>
        <a routerLink="/sourcing" routerLinkActive="active">SOURCING</a>
      </li>
      <li>
        <div class="border-left"></div>
        <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </li>
    </ul>
    <img
      class="rounder bottom"
      src="../../assets/images/mobile-nav-rounder-bottom.svg"
      alt=""
    />
  </div>
</div>
