$desktops-button-font: calc(0.8vw + 1px);
$desktops-small-font: calc(1vw + 2px);
$desktops-medium-font: calc(1.1vw + 8px);
$desktops-h1-font: calc(4vw + 8px);
$desktops-h2-font: calc(3vw + 8px);
$desktops-big-font: calc(4vw + 16px);
$basic-stripes-margin: calc(4% + 5px);

$mobile-big-font: calc(6vw + 16px);

.desktop-banner-circle,
.mobile,
.desktop-girl,
.desktop-assistance-img,
.desktop-sourcing-stripes {
  display: none;
}
.main-container {
  position: relative;
  top: 15vh;
  left: 0;
  min-width: 320px;
  height: 130vw;
  overflow: hidden;
}

.baner-circle {
  position: absolute;
  top: -73%;
  left: -81%;
  width: 225%;
  height: 120%;
  border-radius: 50%;
  background-color: rgba(35, 23, 45, 255);
  z-index: -1;
}
.stripes1 {
  position: absolute;
  width: 25%;
  margin: 10% 5%;
  top: 0;
  right: 0;
}

.stripes2 {
  position: absolute;
  width: 25%;
  margin: 5% 5% 10% 5%;
  bottom: 0;
  left: 0;
}

.baner-img {
  position: absolute;
  top: 20%;
  right: 0;
}

.main-baner {
  position: relative;
  top: 0;
  left: 0;
  width: 60%;
  margin-left: 5%;
  font-weight: normal;
  font-size: $mobile-big-font;
}

.picture-guy-big {
  display: none;
}

.main-mission {
  width: 50%;
  margin-left: 5%;
}

.desktop-button {
  display: none;
}

.how {
  display: flex;
  justify-content: center;
}

.mobile-how-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-button {
  width: 70%;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #433f51;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 5vh;
}
.how-button.top-button {
  margin-top: 17vh;
}

.how-button img {
  height: 1rem;
  margin: 0 5px;
  transform: translateY(15%);
}

.assistance-button {
  margin-bottom: 50px;
}

.launchpad-logo {
  position: relative;
}

.desktop-launchpad-laptop {
  display: none;
}

.launchpad-txt-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.launchpad-circle {
  position: absolute;
  top: 18%;
  left: 26%;
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  background-color: rgba(35, 23, 45, 255);
  z-index: -1;
}

.desktop-launchpad-stripes {
  display: none;
}

.launchpad-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
}

.launchpad-content p {
  margin: 20px 0;
}

.launchpad-button {
  background-color: #ac00ff;
  border-color: #ac00ff;
  font-size: 12px;
}

.sourcing-logo {
  position: relative;
}

.sourcing-circle {
  position: absolute;
  top: 18%;
  left: 26%;
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  background-color: rgba(35, 23, 45, 255);
  z-index: -1;
}

.sourcing-txt-container {
  margin: 0 auto;
  width: 90%;
}

.sourcing-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
}

.sourcing-content p {
  margin: 20px 0;
}

.sourcing-button {
  background-color: #ac00ff;
  border-color: #ac00ff;
  font-size: 12px;
}

.sourcing-img {
  padding: 25% 10%;
}

.assistance-logo {
  position: relative;
}

.desktop-assistance-stripes {
  display: none;
}

.assistance-circle {
  position: absolute;
  top: 18%;
  left: 26%;
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  background-color: rgba(35, 23, 45, 255);
  z-index: -1;
}

.assistance-txt-container {
  margin: 0 auto;
  width: 90%;
}

.assistance-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
}

.assistance-content p {
  margin: 20px 0;
}

.assistance-button {
  background-color: #ac00ff;
  border-color: #ac00ff;
  font-size: 12px;
}

.assistance-img {
  padding: 25% 10%;
}

.mobile-rounder {
  width: 100%;
}
.top {
  margin-bottom: -5px;
}
// .bottom {
//   margin-top: 9px;
// }

.ourway-container {
  position: relative;
}

.ourway-desktop-wrapper {
  background-color: #25192e;
}

.ourway-title-wrapper {
  display: inline-flex;
}

.ourway-title-wrapper img {
  margin: 5%;
}

.ourway-title {
  font-size: 24px;
  margin: 5%;
}

.ourway-slogan {
  font-size: 20px;
}

.ourway-desktop-message {
  display: none;
}
.flags {
  position: relative;
  background-color: #281b32;
  border-radius: calc(1vw + 8px);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
  width: 90%;
  z-index: 1;
  margin: 0 auto;
}
.flag {
  display: inline-flex;
}

.flag-border {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #ac00ff;
  border-radius: 50%;
  margin: 10px;
  background-color: #23172d;
}

.flag-content p {
  width: 70vw;
}

.flag img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stick {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 1px;
  height: 236%;
  z-index: -1;
  background-color: #ac00ff;
}

.perspective-content-desktop {
  display: none;
}

.perspectives-stripes {
  display: none;
}

.perspective-content {
  margin: -16px 15px;
}

.perspective-content p {
  padding-bottom: 30px;
}

.header {
  position: relative;
  justify-content: center;
}

.overview {
  margin-top: 100px;
  margin-bottom: 100px;
}
.logo-overview img {
  width: 90%;
  padding: 5%;
  margin-top: 75px;
  margin-bottom: 30px;
}

.overview-content {
  margin: 0 15px;
}

.overview-title {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.overview-slogan {
  font-size: 18px;
  margin-bottom: 35px;
  text-align: center;
}

.spec {
  margin-top: 60px;
}

.launchpad-logo {
  position: relative;
}

.launchpad-img {
  padding: 15% 10%;
  width: 70vw;
}

@media screen and (min-device-width: 481px) and (max-device-width: 819px) {
  .main-container {
    min-width: 481px;
  }

  .launchpad-img {
    padding: 15% 10%;
    width: 50vw;
    height: 50vw;
  }

  .sourcing-img {
    padding: 15% 10%;
    width: 50vw;
    height: 50vw;
  }

  .assistance-img {
    padding: 15% 10%;
    width: 50vw;
    height: 50vw;
  }

  .overview {
    margin-top: 50px;
  }

  .overview-title-wrapper {
    margin-top: 100px;
  }
  perspectives-circle {
    top: 0;
  }
}

@media screen and (min-device-width: 820px) and (max-device-width: 1023px) {
  .stripes1,
  .stripes2 {
    width: 10%;
  }

  .sourcing-img {
    padding: 15% 10%;
    width: 50vw;
    height: 50vw;
  }

  .assistance-img {
    padding: 15% 10%;
    width: 50vw;
    height: 50vw;
  }

  div.how {
    margin-top: 100px;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 600px) {
  .main-container {
    position: relative;
    top: 15vh;
    left: 0;
    min-width: 320px;
    max-height: 500px;
    height: 90vh;
    overflow: hidden;
  }

  .baner-circle {
    position: absolute;
    top: -105%;
    left: -147%;
    width: 340%;
    height: 159%;
    border-radius: 50%;
    background-color: rgba(35, 23, 45, 255);
    z-index: -1;
  }

  .baner-img {
    position: absolute;
    top: 20%;
    right: 0;
  }

  .main-baner {
    width: 60%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 2em;
  }

  .main-mission {
    width: 40%;
    margin-left: 5%;
  }

  .stripes1 {
    position: absolute;
    width: 25%;
    margin: 10% 5%;
    top: 0;
    right: 0;
  }

  .stripes2 {
    position: absolute;
    width: 25%;
    margin: 5% 5% 10% 5%;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 700px) {
  .main-container {
    position: relative;
    top: 15vh;
    left: 0;
    min-width: 320px;
    max-height: 500px;
    height: 90vh;
    overflow: hidden;
  }

  .baner-circle {
    position: absolute;
    top: -105%;
    left: -147%;
    width: 340%;
    height: 159%;
    border-radius: 50%;
    background-color: rgba(35, 23, 45, 255);
    z-index: -1;
  }

  .baner-img {
    position: absolute;
    top: 20%;
    right: 0;
  }

  .main-baner {
    width: 60%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 2em;
  }

  .main-mission {
    width: 40%;
    margin-left: 5%;
  }

  .stripes1 {
    position: absolute;
    width: 25%;
    margin: 10% 5%;
    top: 0;
    right: 0;
  }

  .stripes2 {
    position: absolute;
    width: 25%;
    margin: 5% 5% 10% 5%;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: 701px) {
  * {
    font-size: $desktops-small-font;
  }
  .mobile-how-button,
  .mobile-rounder {
    display: none;
  }

  .desctop-wrapper {
    width: 100%;
    overflow: hidden;

    .wrapper {
      width: 80%;
      margin: 0 auto;
      overflow: visible;
    }

    .main-container {
      position: relative;
      top: 5vh;
      left: 0;
      height: calc(47vw);
      overflow: visible;
      .main-baner {
        position: relative;
        top: 0;
        left: 0;
        max-height: 50vh;
      }

      .desktop-banner-circle {
        display: block;
        position: absolute;
        top: -160vw;
        left: -60vw;
        width: 200vw;
        height: 200vw;
        background-color: #23172d;
        border-radius: 50%;
        z-index: -10000;
      }
      .baner-circle {
        display: none;
      }

      .main-mission {
        width: 25%;
        font-size: calc(1vw + 4px);
      }

      h1.main-baner,
      h1.main-baner strong {
        width: 40%;
        font-size: calc(4vw + 8px);
        padding-top: calc(1vw);

        line-height: calc(2.5vw + 36px);
      }
      img.stripes1,
      img.stripes2 {
        margin: $basic-stripes-margin;
        width: calc(6vw + 10px);
      }
    }
    .baner-img {
      margin-right: 10vh;
    }

    .picture-guy-small {
      display: none;
    }
    .picture-guy-big {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: calc(41vw + 100px);
      width: auto;
    }
  }

  .desktop-button {
    display: block;
  }

  .how {
    position: absolute;
    display: block;
    margin: 2% 5%;

    .how-button {
      position: relative;
      top: 0;
      left: 0;
      margin: 1vh 0;
      width: calc(2.5vw + 200px);
      line-height: calc(2vw + 16px);
      font-weight: bold;
      border-radius: calc(2vw + 20px);

      font-size: $desktops-button-font;
    }

    .how-button.top-button a {
      font-size: $desktops-button-font;
    }

    .how-button img {
      width: $desktops-button-font;
      margin-left: 0 calc(0.5vw + 5px);
      transform: translatey(25%);
    }
  }

  .launchpad-container {
    margin-top: 10vw;
    position: relative;
    width: 100%;
    height: calc(35vw + 20px);
    display: flex;
    flex-direction: row;
    .desktop-launchpad-laptop {
      display: block;
      width: 35vw;
      margin-top: 3vw;
    }

    .launchpad-logo {
      position: relative;
      max-width: 50%;
    }
    .launchpad-img {
      display: none;
    }

    .launchpad-circle {
      position: absolute;
      top: 2vh;
      left: -5vh;
      width: 30vw;
      height: 30vw;
      background-color: rgba(35, 23, 45);
      border-radius: 50%;
      z-index: -1;
    }

    .launchpad-txt-container {
      position: relative;
      margin-top: calc(1vw + 20px);
      margin-left: calc(3vw + 20px);
    }

    .launchpad-title {
      font-size: $desktops-h1-font;
      font-weight: bold;
      margin: 0;
    }

    .launchpad-content p {
      margin: calc(1vw + 10px) 0;
      max-width: 30vw;
    }

    .how.launchpad-how {
      margin: 0;
    }

    .desktop-launchpad-stripes {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(5vw + 20px);
      height: calc(5vw + 20px);
    }
  }
  .sourcing-container {
    margin-top: 5vw;
    position: relative;
    width: 100%;
    height: calc(37vw + 20px);
    display: flex;
    flex-direction: row;

    .sourcing-txt-container {
      position: relative;
      margin: 0 5%;
      width: 50%;
    }

    .sourcing-title {
      font-size: $desktops-h1-font;
      font-weight: bold;
    }

    .sourcing-content p {
      margin: calc(1vw + 10px) 0;
      max-width: 30vw;
    }

    .how {
      display: block;
      margin: 0;
    }

    .desktop-sourcing-logo {
      display: block;
      float: left;
      width: 50%;
    }
    .desktop-sourcing-stripes {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: calc(5vw + 20px);
      height: calc(5vw + 20px);
    }

    .desktop-girl {
      display: block;
      width: 25vw;
      margin: calc(5vw + 20px);
    }

    .desktop-sourcing-circle {
      display: block;
      position: absolute;
      top: 2vw;
      right: -6vw;
      width: 30vw;
      height: 30vw;
      margin: auto 0;
      border-radius: 50%;
      background-color: rgba(35, 23, 45, 255);
      z-index: -1;
    }

    .sourcing-logo,
    .sourcing-circle,
    .sourcing-img {
      display: none;
    }
  }

  .assistance-container {
    margin-top: 5vw;
    position: relative;
    width: 100%;
    min-height: calc(35vw + 20px);
    display: flex;
    flex-direction: row;

    .assistance-logo {
      width: 50%;
    }

    .desktop-assistance-img {
      display: block;
      width: 25vw;
      margin: calc(5vw + 20px);
    }

    .assistance-circle {
      top: 2vh;
      left: -5vh;
      width: 30vw;
      height: 30vw;
    }

    .assistance-txt-container {
      margin: 0;
      width: 50%;
    }

    .assistance-title {
      font-size: $desktops-big-font;
      font-weight: bold;
    }

    .assistance-content p {
      margin: calc(1vw + 10px) 0;
      max-width: 30vw;
    }

    .desktop-assistance-stripes {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(5vw + 20px);
      height: calc(5vw + 20px);
    }

    .how.sourcing-how {
      margin: 0;
    }

    .assistance-img {
      display: none;
    }
  }

  .mobile {
    display: block;
  }

  .top-rounder {
    position: relative;
    margin: 0 0 -8px -10vw;

    img {
      width: 100vw;
    }
  }

  .ourway-container {
    margin: 0 auto;
    width: 80%;

    .ourway-circle {
      display: none;
    }

    .signpost {
      width: calc(16vw + 20px);
      margin: 0;
    }

    .header {
      display: flex;
      justify-content: center;
    }

    .ourway-title {
      min-width: 25vw;
      margin: 0 5vw;
      p,
      strong {
        font-size: $desktops-big-font;
      }

      .ourway-slogan {
        font-size: $desktops-medium-font;
        margin-top: -5vh;
      }
    }

    .flags {
      display: flex;
      flex-direction: row;
      background-color: #281b32;
      border-radius: calc(1vw + 8px);
      box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
    }
    .flag {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 25%;
      z-index: 10;
    }

    .stick {
      position: absolute;
      top: 50%;
      left: 0;
      transform-origin: 0 0;
      transform: rotate(270deg);
      height: 20vw;
    }
    .flag-border {
      margin: calc(1vw + 16px) auto 0;

      background-color: #2e2b39;
    }

    .flag-content p {
      display: inline;
    }

    .flag-content {
      padding: calc(1vw + 16px);
    }

    .ourway-desktop-message {
      display: block;
      margin: 5vw;
    }

    .ourway-desktop-message p {
      display: flex;
      justify-content: center;
    }
  }

  .ourway-desktop-wrapper {
    width: 100vw;
    background-color: #25192e;
    margin-left: -10vw;

    .perspectives-container {
      width: 80vw;
      margin: 0 auto;
      .ourway-title-wrapper {
        width: 100%;
      }

      .stars {
        width: calc(25vw + 200px);
        margin: 0 5vw;
      }

      .perspectives-header,
      .perspectives-header strong {
        font-size: $desktops-big-font;
        margin-bottom: 0;
      }

      .ourway-slogan {
        font-size: $desktops-medium-font;
        margin: 5vw 0;
      }

      .perspective-content {
        display: none;
      }

      .perspective-content-desktop {
        display: block;
      }

      .perspectives-stripes {
        display: block;
        position: relative;
        top: 0;
        left: 20vw;
        z-index: 2;
        width: calc(5vw + 20px);
        height: calc(5vw + 20px);
      }

      .perspectives-circle {
        display: none;
      }
    }
  }

  .overview {
    margin: 5vw;

    .overview-title,
    .overview-title strong {
      text-align: left;
      font-size: $desktops-h2-font;
    }

    .flex-item-container {
      display: flex;
      float: left;
      margin: 5vw 0;

      .overview-slogan {
        font-size: $desktops-medium-font;
        text-align: left;
      }
    }
    .logo-overview {
      margin: auto;
      width: 50%;
    }
    .overview-content {
      width: 50%;
    }
    .reversed {
      flex-direction: row-reverse;
    }
  }
}
