<div class="desctop-wrapper">
  <img
    src="../../assets/images/mobie-banner-top.png"
    alt=""
    class="mobile-banner-background"
  />
  <img
    src="../../assets/images/homepage-desktop-top-background.png"
    alt=""
    class="banner-background"
  />
  <div class="wrapper">
    <div class="main-container">
      <img
        src="../../assets/images/devbooter2.png"
        alt=""
        class="picture-guy-big"
      />
      <img
        class="stripes1"
        src="../../assets/images/stripes1.svg"
        alt="stripes1"
      />
      <img
        class="stripes2"
        src="../../assets/images/stripes2.svg"
        alt="stripes2"
      />
      <h1 class="main-baner">
        <strong>DevBoosters</strong>
      </h1>
      <div class="main-mission">
        We boost careers of Software Developers with innovative and complete set
        of services.
      </div>
      <div class="how">
        <button class="how-button top-button desktop-button">
          <a href="#ourway">
            <p class="how-button-text">
              how we do that
              <img src="../../assets/images/strzalka-w-dol.svg" alt="" />
            </p>
          </a>
        </button>
      </div>
      <div class="baner-img">
        <div class="baner-circle"></div>
        <img
          src="../../assets/images/devbooter3.png"
          alt=""
          class="picture-guy-small"
        />
      </div>
    </div>
    <div class="mobile-how-button">
      <button class="how-button top-button">
        <a href="#ourway-title-wrapper">
          how we do that
          <img src="../../assets/images/strzalka-w-dol.svg" alt="" />
        </a>
      </button>
    </div>
    <div class="launchpad-container">
      <div class="launchpad-logo">
        <img
          class="launchpad-img"
          src="../../assets/images/laptop.png"
          alt="laptop"
        />
        <div class="desktop-launchpad-laptop">
          <img
            class="img"
            src="../../assets/images/desktop-launchpad-laptop.svg"
            alt=""
          />
        </div>
        <div class="launchpad-circle"></div>
      </div>
      <div class="launchpad-txt-container">
        <div class="launchpad-title">Launchpad</div>
        <div class="launchpad-content">
          <p>
            Launchpads allow experienced Software Engineers to take on the
            responsibility of educating Junior Developers and reap the rewards
            of that commitment.
          </p>
          <p>
            Launchpads are set up as an on-site office that is run by the mentor
            as a side gig to their day job.
          </p>
          <div class="how launchpad-how">
            <a href="/launchpad">
              <button class="how-button launchpad-button">
                View more<img
                  src="../../assets/images/strzalka-w-prawo.svg"
                  alt=""
                />
              </button>
            </a>
          </div>
        </div>
      </div>
      <img
        class="desktop-launchpad-stripes"
        src="../../assets/images/stripes1.svg"
        alt=""
      />
    </div>
    <div class="sourcing-container">
      <div class="sourcing-logo">
        <img
          class="img"
          src="../../assets/images/ladylaptopem.png"
          alt="laptop"
        />
        <div class="sourcing-circle"></div>
      </div>
      <div class="sourcing-txt-container">
        <div class="sourcing-title">Sourcing</div>
        <div class="sourcing-content">
          <p>
            Apart from streams created by the dynamics of Launchpads and
            Assistants, there is a growing number of experienced Software
            Engineers that are willing to work with us. With the growth of our
            people, more people are coming.
          </p>
        </div>
        <div class="how">
          <a href="/sourcing">
            <button class="how-button sourcing-button">
              View more<img
                src="../../assets/images/strzalka-w-prawo.svg"
                alt=""
              />
            </button>
          </a>
        </div>
        <div>
          <img
            class="desktop-sourcing-stripes"
            src="../../assets/images/stripes2.svg"
            alt=""
          />
        </div>
      </div>
      <div class="desktop-sourcing-logo">
        <img
          src="../../assets/images/desktop-girl-homepage.svg"
          alt=""
          class="desktop-girl"
        />

        <div class="desktop-sourcing-circle"></div>
      </div>
    </div>
    <div class="assistants-container">
      <div class="assistants-logo">
        <div class="desktop-assistants-img">
          <img src="../../assets/images/desktop-guys.png" alt="" class="img" />
        </div>

        <img
          class="assistants-img"
          src="../../assets/images/boyslaptop.png"
          alt="laptop"
        />
        <div class="assistants-circle"></div>
      </div>
      <div class="assistants-txt-container">
        <div class="assistants-title">Assistants</div>
        <div class="assistants-content">
          <p>
            Launchpads allow experienced Software Engineers to take on the
            responsibility of educating Junior Developers and reap the rewards
            of that commitment.
          </p>
          <p>
            Launchpads are set up as an on-site office that is run by the mentor
            as a side gig to their day job.
          </p>
          <div class="how sourcing-how">
            <a href="/assistants">
              <button class="how-button assistants-button">
                View more<img
                  src="../../assets/images/strzalka-w-prawo.svg"
                  alt=""
                />
              </button>
            </a>
          </div>
        </div>
        <img
          class="desktop-assistants-stripes"
          src="../../assets/images/stripes1.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="desctop-wrapper">
  <div class="top-rounder mobile">
    <img
      src="../../assets/images/Ellipse 16.png"
      alt=""
      class="top-rounder-purple"
      id="ourway"
    />
  </div>
  <img
    id="ourway-title-wrapper"
    class="mobile-rounder top desktop"
    src="../../assets/images/Ellipse 16.png"
    alt=""
  />
  <div class="ourway-desktop-wrapper">
    <div class="ourway-container">
      <div class="ourway-circle"></div>
      <div class="header">
        <div class="ourway-title-wrapper">
          <img
            class="signpost"
            src="../../assets/images/znakdrogowy.svg"
            alt=""
          />
          <div class="ourway-title">
            <p>Our <strong>way</strong></p>
            <p class="ourway-slogan">Unique qualities through innovation.</p>
          </div>
        </div>
      </div>
      <div class="ourway-desktop-message">
        <p>DevBoosters offer unique solutions to several issues:</p>
      </div>
      <div class="flags">
        <div class="flag">
          <div class="flag-border">
            <img src="../../assets/images/flaga.svg" alt="" />
            <div class="stick"></div>
          </div>
          <div class="flag-content">
            <p>
              In a world of too many Juniors and not enough Seniors, we provide
              experience to inexperienced developers.
            </p>
          </div>
        </div>
        <div class="flag">
          <div class="flag-border">
            <img src="../../assets/images/flaga.svg" alt="" />
            <div class="stick"></div>
          </div>
          <div class="flag-content">
            <p>
              In a world of high rotation, we offer retention in forms of
              Loyalty Agreements and continuous growth.
            </p>
          </div>
        </div>
        <div class="flag">
          <div class="flag-border">
            <img src="../../assets/images/flaga.svg" alt="" />
            <div class="stick"></div>
          </div>
          <div class="flag-content">
            <p>
              In a world where job hunting can take a year, we offer help with
              the process to take on tedious tasks.
            </p>
          </div>
        </div>
        <div class="flag">
          <div class="flag-border">
            <img src="../../assets/images/flaga.svg" alt="" />
          </div>
          <div class="flag-content">
            <p>
              We bring proper sourcing-related incentives to Software Engineers.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="perspective-desktop">
      <div class="perspectives-container">
        <div class="header">
          <div class="ourway-title-wrapper">
            <img class="stars" src="../../assets/images/stars.svg" alt="" />
            <div class="ourway-title">
              <p class="perspectives-header">
                Our <strong>perspective</strong>
              </p>
              <p class="ourway-slogan">
                Scratching the itches of Software Engineers.
              </p>
              <ng-container
                *ngTemplateOutlet="
                  perspectiveContent;
                  context: perspectiveDesktop
                "
              ></ng-container>
            </div>
            <img
              class="perspectives-stripes"
              src="../../assets/images/Deco-4-desktop.png"
              alt=""
            />
          </div>
        </div>
        <ng-template #perspectiveContent let-class>
          <div [class]="class">
            <p>
              Our selection of services comes from first-hand experience of a
              Software Engineer who has spent years paying attention to the IT
              landscape, researching, and talking to his friends and colleagues
              in pursuit of innovative contributions.
            </p>
            <p>
              Knowing the market and needs of Software Engineers, we know how to
              make engineers happier.
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <img
    class="mobile-rounder bottom"
    src="../../assets/images/Ellipse 17.png"
    alt=""
  />
  <div class="top-rounder">
    <img
      src="../../assets/images/Ellipse 17.png"
      alt=""
      class="top-rounder-purple mobile"
    />
  </div>
  <div class="overview">
    <div class="overview-title-wrapper">
      <div class="flex-item-container">
        <div class="logo-overview">
          <img src="../../assets/images/overview-logo1.svg" alt="" />
        </div>
        <div class="overview-content">
          <p class="overview-title">Skills <strong>overview</strong></p>
          <p class="overview-slogan">What to expect.</p>
          <p>
            Launchpad trains mainly Web Developers, with an emphasis on Front
            End. Javascript, Typescript, React, Angular, Java. The technology
            stack is expected to grow with opening the next branches.
          </p>
          <p>
            Assistants, as well as Sourcing, get access to whoever is
            interested, bringing wider skills to the table.
          </p>
        </div>
      </div>
      <div class="flex-item-container reversed">
        <div class="logo-overview">
          <img src="../../assets/images/desktop-board-guys.svg" alt="" />
        </div>
        <div class="overview-content">
          <div class="overview-title-wrapper">
            <p class="overview-title">Workflow <strong>overview</strong></p>
            <p class="overview-slogan">Cooperation description</p>
          </div>
          <p>
            Each Launchpad is expected to source a new batch of engineers every
            6 - 12 months. We give our partners adequate heads up with skills
            and time frames for potential hires so that partners have enough
            time for finding the right placement.
          </p>
          <p>
            Our Assistants pass the profiles and expectations of engineers as
            they express willingness to work with us.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
