$button-font: 15px;
$txt-font: 16px;
$h1-font: 80px;
$h2-font: 48px;
$h3-font: 20px;
$basic-stripes-margin: calc(4% + 5px);

$mobile-h1-font: 40px;

.desktop-banner-circle,
.mobile,
.desktop-girl,
.desktop-assistants-img,
.desktop-sourcing-stripes {
  display: none;
}

.main-container {
  position: relative;
  top: 10vh;
  left: 0;
  min-width: 320px;
  height: 130vw;
  overflow: hidden;
}

.banner-background {
  display: none;
}

.mobile-banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -10;
}

.stripes1 {
  position: absolute;
  width: 25%;
  margin: 10% 5%;
  top: 0;
  right: 0;
}

.stripes2 {
  position: absolute;
  width: 25%;
  margin: 5% 5% 10% 5%;
  bottom: 0;
  left: 0;
}

.baner-img {
  position: absolute;
  top: 20%;
  right: 0;
}

.main-baner {
  position: relative;
  top: 0;
  left: 0;
  width: 60%;
  margin-left: 5%;
  font-weight: normal;
  font-size: $mobile-h1-font;
}

.picture-guy-big {
  display: none;
}

.main-mission {
  width: 50%;
  margin-left: 5%;
}

.desktop-button {
  display: none;
}

.how {
  display: flex;
  justify-content: center;
}

.mobile-how-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  background-color: #2e2b39;
}

.mobile-how-button {
  color: white;
}

.how-button {
  width: 75%;
  line-height: 40px;
  // height: 56px;
  text-transform: uppercase;
  font-size: $button-font;
  background-color: #433f51;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 5vh;
}
.how-button.top-button {
  margin-top: 17vh;
  background-color: #25192e;
}
.how-button.top-button a {
  color: white;
}

.how-button img {
  height: 1rem;
  margin: 0 5px;
  transform: translateY(15%);
}

.assistants-button {
  margin-bottom: 50px;
}

.launchpad-button,
.assistants-button,
.sourcing-button {
  width: 90vw;
}

.launchpad-logo {
  position: relative;
}

.launchpad-logo,
.sourcing-logo,
.assistants-logo {
  margin-top: 50px;
}

.desktop-launchpad-laptop {
  display: none;
}

.launchpad-txt-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.launchpad-circle {
  position: absolute;
  top: 18%;
  left: 26%;
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  background-color: rgba(35, 23, 45, 255);
  z-index: -1;
}

.desktop-launchpad-stripes {
  display: none;
}

.launchpad-title {
  font-size: $h2-font;
  font-weight: bold;
  margin-bottom: 35px;
}

.launchpad-content p {
  margin: 20px 0;
}

.launchpad-button {
  background-color: #ac00ff;
  border-color: #ac00ff;
  font-size: $button-font;
}

.sourcing-logo {
  position: relative;
}

.sourcing-circle {
  position: absolute;
  top: 18%;
  left: 26%;
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  background-color: rgba(35, 23, 45, 255);
  z-index: -1;
}

.sourcing-txt-container {
  margin: 0 auto;
  width: 80%;
}

.sourcing-title {
  font-size: $h2-font;
  font-weight: bold;
  margin-bottom: 35px;
}

.sourcing-content p {
  margin: 20px 0;
}

.sourcing-button {
  background-color: #ac00ff;
  border-color: #ac00ff;
  font-size: $button-font;
}

.sourcing-img {
  padding: 25% 10%;
}

.assistants-logo {
  position: relative;
}

.desktop-assistants-stripes {
  display: none;
}

.assistants-circle {
  position: absolute;
  top: 18%;
  left: 26%;
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  background-color: rgba(35, 23, 45, 255);
  z-index: -1;
}

.assistants-txt-container {
  margin: 0 auto;
  width: 80%;
}

.assistants-title {
  font-size: $h2-font;
  font-weight: bold;
  margin-bottom: 35px;
}

.assistants-content p {
  margin: 20px 0;
}

.assistants-button {
  background-color: #ac00ff;
  border-color: #ac00ff;
  font-size: $button-font;
}

.assistants-img {
  padding: 25% 10%;
}

.mobile-rounder {
  width: 100%;
}
.top {
  margin-bottom: -5px;
}

.ourway-container {
  position: relative;
}

.ourway-desktop-wrapper {
  background-color: #25192e;
}

.ourway-title-wrapper {
  display: flex;
  justify-content: center;
}

.ourway-title-wrapper img {
  margin: 5%;
}

.ourway-title {
  font-size: 40px;
  margin: 5%;
  padding-right: 40px;
}

.ourway-slogan {
  font-size: $h3-font;
}

.ourway-desktop-message {
  display: none;
}
.flags {
  position: relative;
  background-color: #281b32;
  border-radius: calc(1vw + 8px);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
  width: 90%;
  z-index: 1;
  margin: 0 auto;
}
.flag {
  display: inline-flex;
}

.flag-border {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #ac00ff;
  border-radius: 50%;
  margin: 10px;
  background-color: #23172d;
}

.flag-content p {
  width: 70vw;
}

.reversed {
  margin-top: 100px;
}

.flag img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stick {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 1px;
  height: 236%;
  z-index: -1;
  background-color: #ac00ff;
}

.perspective-content-desktop {
  display: none;
}

.perspectives-stripes {
  display: none;
}

.perspective-content {
  margin: -16px 40px;
}

.perspective-content p {
  padding-bottom: 30px;
}

.perspective-content:last-child {
  padding-bottom: 50px;
}

.header {
  position: relative;
  justify-content: center;
}

.overview {
  margin-top: 100px;
  margin-bottom: 100px;
}
.logo-overview img {
  width: 90%;
  padding: 5%;
  margin-bottom: 30px;
}

.overview-content {
  margin: 0 45px;
}

.overview-title {
  font-size: $h2-font;
  margin: 0;
  text-align: center;
}

.overview-slogan {
  font-size: $h3-font;
  margin-bottom: 35px;
  text-align: center;
}

.spec {
  margin-top: 60px;
}

.launchpad-logo {
  position: relative;
}

.launchpad-img {
  padding: 15% 10%;
  width: 70vw;
}

@media screen and (min-width: 500px) {
  .mobile-banner-background {
    top: calc(-20vw + 20px);
  }

  .main-container {
    background-color: transparent;
    height: 90vw;
    img.stripes1,
    img.stripes2 {
      margin: $basic-stripes-margin;
      width: calc(10vw + 10px);
    }
  }
  .mobile-how-button {
    background-color: transparent;
  }
  .sourcing-img,
  .assistants-img {
    width: 60vw;
  }
}

@media screen and (min-width: 960px) {
  .wrapper {
    min-width: 960px;
    margin: 0 50px;
    max-width: 1032px;
  }

  .mobile-banner-background {
    display: none;
  }

  .banner-background {
    display: block;
    position: absolute;
    top: -10vh;
    left: 0;
    width: 100%;
    height: 75vh;
    z-index: -10;
  }

  .mobile-how-button,
  .mobile-rounder {
    display: none;
  }

  .desctop-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    .wrapper {
      position: relative;
      width: 80%;
      margin: 0 auto;
      overflow: visible;
    }

    .main-container {
      position: relative;
      top: 5vh;
      left: 0;
      height: auto;
      min-height: 80vh;
      overflow: visible;
      padding-bottom: 2vw;
      .main-baner {
        position: relative;
        top: 0;
        left: 0;
        font-size: $h1-font;
        max-height: 50vh;
      }

      .main-mission {
        width: 25%;
      }

      h1.main-baner,
      h1.main-baner strong {
        width: 50%;
        padding-top: calc(1vw);

        line-height: calc(2.5vw + 36px);
      }
      img.stripes1,
      img.stripes2 {
        margin: $basic-stripes-margin;
        width: 120px;
        height: auto;
      }
      img.stripes2 {
        margin-bottom: 0;
      }
    }
    .baner-img {
      margin-right: 10vh;
    }

    .picture-guy-small {
      display: none;
    }
    .picture-guy-big {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: auto;
      width: 55%;
    }
  }

  .desktop-button {
    display: block;
    transition: 200ms;
  }

  .how-button-text {
    margin: 0;
  }

  .desktop-button:hover {
    background-color: #412c52;
  }

  .how {
    position: absolute;
    display: block;
    margin: 5% 5%;

    .how-button {
      position: relative;
      top: 0;
      left: 0;
      margin: 1vh 0;
      width: 262px;
      height: 56px;
      letter-spacing: 1px;
      font-weight: bold;
      border-radius: calc(2vw + 20px);
      transition: 100ms;
    }

    .how-button:hover {
      background-color: #673590;
      border-color: #502870;
    }

    .how-button.top-button a {
      background-color: #25192e;
    }
    .how-button.top-button a {
      color: white;
    }

    .how-button img {
      margin-left: 0 calc(0.5vw + 5px);
      transform: translatey(25%);
    }
  }

  .launchpad-container {
    margin: 20vh 5% 10vh;
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    .desktop-launchpad-laptop {
      display: block;
      .img {
        position: relative;
        top: -45px;
        left: -65px;
        margin: 0;
        width: 110%;
        height: auto;
      }
    }

    .launchpad-logo {
      position: relative;
      width: 50%;
    }
    .launchpad-img {
      display: none;
    }

    .launchpad-circle {
      position: absolute;
      top: -5vh;
      left: -250px;
      width: 500px;
      height: 500px;
      background-color: rgba(35, 23, 45);
      border-radius: 50%;
      z-index: -1;
    }

    .launchpad-txt-container {
      width: 50%;
      position: relative;
      padding-right: 60px;
    }

    .launchpad-title {
      font-weight: bold;
      margin: 0;
    }

    .launchpad-content p {
      margin: calc(1vw + 10px) 0;
      max-width: 30vw;
    }

    .how.launchpad-how {
      margin: 0;
    }

    .desktop-launchpad-stripes {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 60px;
      width: 120px;
      height: auto;
    }
  }

  .sourcing-container {
    margin: 20vh 0 10vh 5%;
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;

    .desktop-logo {
      display: block;
      .img {
        position: relative;
        top: -45px;
        left: -65px;
        margin: 0;
        width: 110%;
        height: auto;
      }
    }

    .sourcing-txt-container {
      position: relative;
      margin-right: 0%;
      width: 50%;
    }

    .sourcing-title {
      font-weight: bold;
    }

    .sourcing-content p {
      margin: calc(1vw + 10px) 0;
      max-width: 30vw;
    }

    .how {
      display: block;
      margin: 0;
    }

    .desktop-sourcing-logo {
      display: block;
      float: left;
      width: 50%;
    }
    .desktop-sourcing-stripes {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 120px;
      height: auto;
    }

    .desktop-girl {
      display: block;
      position: relative;
      top: 35px;
      left: 40px;

      margin: 0;
      width: 410px;
      height: auto;
    }

    .desktop-sourcing-circle {
      position: absolute;
      top: -5vh;
      right: -160px;
      width: 500px;
      height: 500px;
      background-color: #23172d;
      border-radius: 50%;
      z-index: -1;
    }

    .sourcing-logo,
    .sourcing-circle,
    .sourcing-img {
      display: none;
    }
  }

  .assistants-container {
    margin: 20vh 5% 10vh;
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    .assistace-logo .img {
      display: block;
    }

    .desktop-assistants-img {
      display: block;
      position: relative;
      top: -25px;
      left: -65px;
      .img {
        width: 400px;
        height: auto;
      }
    }

    .assistants-circle {
      position: absolute;
      top: -13vh;
      left: -250px;

      width: 500px;
      height: 500px;
      background-color: rgba(35, 23, 45);
      border-radius: 50%;
      z-index: -1;
    }

    .assistants-txt-container {
      margin: 0;
      padding-right: 60px;
    }

    .assistants-title {
      font-weight: bold;
    }

    .assistants-content p {
      margin: calc(1vw + 10px) 0;
      max-width: 30vw;
    }

    .desktop-assistants-stripes {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 60px;
      width: 120px;
      height: auto;
    }

    .how.sourcing-how {
      margin: 0;
    }

    .assistants-img {
      display: none;
    }
  }

  .mobile {
    display: block;
  }

  .top-rounder {
    margin: 0 0 -8px -10vw;

    img {
      width: 100vw;
    }
  }

  .top-rounder .desktop {
    position: absolute;
    top: 0;
  }

  .top-rounder-purple {
    position: absolute;
    left: 0;
  }

  .ourway-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1032px;

    .ourway-circle {
      display: none;
    }

    .signpost {
      width: 230px;
      margin-left: 13vw;
    }

    .header {
      display: flex;
      justify-content: center;
    }

    .ourway-title {
      min-width: 25vw;
      margin: 0 5vw;
      p,
      strong {
        font-size: $h2-font;
      }

      .ourway-slogan {
        margin-top: 4vh 0;
        font-size: $h3-font;
      }
    }

    .flags {
      display: flex;
      flex-direction: row;
      background-color: #281b32;
      border-radius: calc(1vw + 8px);
      box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
    }
    .flag {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 25%;
      z-index: 10;
    }

    .stick {
      position: absolute;
      top: 50%;
      left: 0;
      transform-origin: 0 0;
      transform: rotate(270deg);
      height: calc(4vw + 180px);
    }
    .flag-border {
      margin: calc(1vw + 16px) auto 0;

      background-color: #2e2b39;
    }

    .flag-content p {
      display: inline;
    }

    .flag-content {
      padding: calc(1vw + 16px);
    }

    .ourway-desktop-message {
      display: block;
      margin: 4vw;
    }

    .ourway-desktop-message p {
      display: flex;
      justify-content: center;
    }
  }

  .ourway-desktop-wrapper {
    margin-top: 9.1vw;
    width: 100vw;
    left: 0;
    background-color: #25192e;

    .perspectives-container {
      display: flex;
      justify-content: center;
      .ourway-title-wrapper {
        max-width: 1032px;
      }

      .stars {
        width: calc(25vw + 200px);
        margin: 0 5vw;
      }

      .perspectives-header,
      .perspectives-header strong {
        margin-bottom: 0;
      }

      .ourway-slogan {
        margin: 5vw 0;
        font-size: $h3-font;
      }

      .perspective-content {
        display: none;
      }

      .perspective-content-desktop {
        display: block;
        font-size: $txt-font;
      }

      .perspectives-circle {
        display: none;
      }
    }
  }

  .perspectives-stripes {
    display: block;
    position: absolute;
    bottom: -150px;
    left: 0;
    z-index: 10;
    width: 80px;
    height: auto;
  }
  .overview {
    margin: 200px auto;
    position: relative;
    max-width: 1032px;

    .overview-title,
    .overview-title strong {
      text-align: left;
    }

    .flex-item-container {
      display: flex;
      float: left;
      margin: 5vw 0;

      .overview-slogan {
        text-align: left;
      }
    }
    .logo-overview {
      margin: auto;
      width: 50%;
    }
    .overview-content {
      width: 50%;
    }
    .reversed {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (min-width: 1600px) {
  .wrapper .main-container {
    min-height: 57vh;
  }
  .launchpad-container,
  .sourcing-container,
  .assistants-container {
    height: 40vh;
  }
  .assistants-container .assistants-circle {
    top: -9vh;
  }
}
