<div class="background">
  <div class="top-circle"></div>
  <div class="launchpad-header-and-image">
    <div class="header1">
      <h1>Launchpad</h1>
      <p style="margin-top: -30px">A place for growth.</p>
    </div>
    <img class="laptop-image" src="assets/images/laptop.png" />
  </div>
  <div class="what-is-it">
    <img class="image" src="assets/images/bulb.svg" />
    <div class="what-is-it-text">
      <div class="mobile-header">
        <img class="mobile-image" src="assets/images/bulb.svg" />

        <h1 class="header-text">What is <strong>it?</strong></h1>
      </div>
      <div class="description">
        <span>
          Launchpads allow experienced Software Engineers to educate Junior
          Developers and reap the rewards of that commitment.
          <br /><br />Launchpads are set up as an on-site office that is run by
          the mentor as a side gig to their day job.
        </span>
      </div>
    </div>
  </div>

  <div class="how-it-works">
    <div class="how-it-works-header">
      <img class="image" src="assets/images/gears.svg" />
      <p class="header-text">How it <strong>works?</strong></p>
    </div>
    <div class="how-it-works-explanation">
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-1.png" />

          <div class="numbers">1</div>
        </div>
        <div class="text">
          <span
            >First, we register you and then set up the
            <strong>Launchpad.</strong></span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-2.png" />

          <div class="numbers">2</div>
        </div>
        <div class="text">
          <span
            >Launchpads are set up as an on-site office that is run by the
            mentor as a <strong>side gig to their day job.</strong></span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-3.png" />

          <div class="numbers">3</div>
        </div>
        <div class="text">
          <span
            >Mentors' mission is to first spend months educating the Mentees -
            so that they're <strong>not junior anymore</strong> - and
            subcontracting them on predefined rates.</span
          >
        </div>
      </div>
      <div class="explanation-blocks">
        <div class="image-and-number">
          <img class="explained-image" src="assets/images/explained-4.png" />

          <div class="numbers">4</div>
        </div>
        <div class="text">
          <span
            >Once hired, mentees get additional support for an initial period of
            time to reach their <strong>independence</strong> quickly.</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="launchpad-perks">
    <div class="header">
      <img class="image" src="assets/images/cup.svg" />
      <p class="h1">Launchpad <strong>perks</strong></p>
    </div>
    <div class="launchpad-perks-explanation">
      <div class="launchpad-perks-bulletpoints">
        <div class="explanation-blocks2">
          <div class="stars">☆</div>

          <div class="text">
            <span
              >For our clients: A <strong>guaranteed flow</strong> of new
              programmers
            </span>
          </div>
        </div>
        <div class="explanation-blocks2">
          <div class="stars">☆</div>

          <div class="text">
            <span
              >For mentees: <strong>balanced growth</strong> and access to
              experienced devs’ <strong>mentorship</strong></span
            >
          </div>
        </div>
        <div class="explanation-blocks2">
          <div class="stars">☆</div>

          <div class="text">
            <span
              >For mentors: opportunity to <strong>evolve</strong> as an
              educator and a leader
            </span>
          </div>
        </div>
      </div>

      <div class="summary">
        Mentees are committing to two- year-long Loyalty Agreements as a form of
        appreciation for free education.<br /><br />Mentors keep growing with
        their Launchpad - what hinders their need for looking for other
        opportunities.
      </div>
    </div>
    <div class="call-to-action">
      <div class="text">
        Are you <strong>interested?</strong> <br />Do you have any
        <strong>questions?</strong>
      </div>
      <button class="button">CONTACT US!</button>
    </div>
  </div>
</div>
