<div class="desctop-wrapper">
  <div class="wrapper">
    <div class="main-container">
      <div class="desktop-banner-circle"></div>
      <img
        src="../../assets/images/devbooter2.png"
        alt=""
        class="picture-guy-big"
      />
      <img
        class="stripes1"
        src="../../assets/images/stripes1.svg"
        alt="stripes1"
      />
      <img
        class="stripes2"
        src="../../assets/images/stripes2.svg"
        alt="stripes2"
      />
      <h1 class="main-baner">
        Multi-faceted approach
        <br />
        to <strong>growth</strong>
      </h1>
      <div class="main-mission">
        Our mission is to boost careers of Software Developers.
      </div>
      <div class="how">
        <button class="how-button top-button">
          <a pageScroll href="#ourway-title-wrapper">
            how we do that
            <img src="../../assets/images/strzalka-w-dol.svg" alt="" />
          </a>
        </button>
      </div>
      <div class="baner-img">
        <div class="baner-circle"></div>
        <img
          src="../../assets/images/devbooter3.png"
          alt=""
          class="picture-guy-small"
        />
      </div>
    </div>
    <div class="launchpad-container">
      <div class="launchpad-logo">
        <img
          class="launchpad-img"
          src="../../assets/images/laptop.png"
          alt="laptop"
        />
        <img
          class="desktop-launchpad-laptop"
          src="../../assets/images/desktop-launchpad-laptop.svg"
          alt=""
        />
        <div class="launchpad-circle"></div>
      </div>
      <div class="launchpad-txt-container">
        <div class="launchpad-title">Launchpad</div>
        <div class="launchpad-content">
          <p>
            Launchpads allow experienced Software Engineers totake on the
            responsibility of educating Junior Developersand reap the rewards of
            that commitment.
          </p>
          <p>
            Launchpads are set up as an on-site office that is run bythe mentor
            as a side gig to their day job.
          </p>
          <div class="how launchpad-how">
            <button class="how-button launchpad-button">
              View more<img
                src="../../assets/images/strzalka-w-prawo.svg"
                alt=""
              />
            </button>
          </div>
        </div>
        <img
          class="desktop-launchpad-stripes"
          src="../../assets/images/stripes1.svg"
          alt=""
        />
      </div>
    </div>
    <div class="sourcing-container">
      <div class="sourcing-logo">
        <img
          class="sourcing-img"
          src="../../assets/images/ladylaptopem.png"
          alt="laptop"
        />
        <div class="sourcing-circle"></div>
      </div>
      <div class="sourcing-txt-container">
        <div class="sourcing-title">Sourcing</div>
        <div class="sourcing-content">
          <p>
            Apart from streams created by the dynamics of Launchpads and
            Assistants, there is a growing number ofexperienced Software
            Engineers that are willing to workwith us. With the growth of our
            people, more people are coming.
          </p>
          <p>With the growth of our people, more people are coming.</p>
        </div>
        <div class="how">
          <button class="how-button sourcing-button">
            View more<img
              src="../../assets/images/strzalka-w-prawo.svg"
              alt=""
            />
          </button>
        </div>
        <div>
          <img
            class="desktop-sourcing-stripes"
            src="../../assets/images/stripes2.svg"
            alt=""
          />
        </div>
      </div>
      <div class="desktop-sourcing-logo">
        <img
          src="../../assets/images/desktop-girl-homepage.svg"
          alt=""
          class="desktop-girl"
        />

        <div class="desktop-sourcing-circle"></div>
      </div>
    </div>
    <div class="assistance-container">
      <div class="assistance-logo">
        <img
          src="../../assets/images/desktop-girl-homepage.svg"
          alt=""
          class="desktop-assistance-img"
        />
        <img
          class="assistance-img"
          src="../../assets/images/boyslaptop.png"
          alt="laptop"
        />
        <div class="assistance-circle"></div>
      </div>
      <div class="assistance-txt-container">
        <div class="assistance-title">Assistance</div>
        <div class="assistance-content">
          <p>
            Launchpads allow experienced Software Engineers totake on the
            responsibility of educating Junior Developersand reap the rewards of
            that commitment.
          </p>
          <p>
            Launchpads are set up as an on-site office that is run bythe mentor
            as a side gig to their day job.
          </p>
          <div class="how sourcing-how">
            <button class="how-button assistance-button">
              View more<img
                src="../../assets/images/strzalka-w-prawo.svg"
                alt=""
              />
            </button>
          </div>
        </div>
        <img
          class="desktop-assistance-stripes"
          src="../../assets/images/stripes1.svg"
          alt=""
        />
      </div>
    </div>
    <div class="ourway-container">
      <div class="ourway-circle" id="ourway-title-wrapper"></div>
      <div class="header">
        <div class="ourway-title-wrapper">
          <img
            class="signpost"
            src="../../assets/images/znakdrogowy.svg"
            alt=""
          />
          <div class="ourway-title">
            <p>Our <strong>way</strong></p>
            <p class="ourway-slogan">Unique qualities through innovation.</p>
          </div>
        </div>
      </div>
      <div class="ourway-desktop-message">
        <p>DevBoosters offers unique solutions to several market issues.</p>
      </div>
      <div class="flags">
        <div class="flag">
          <div class="flag-border">
            <img src="../../assets/images/flaga.svg" alt="" />
            <div class="stick"></div>
          </div>
          <div class="flag-content">
            <p>
              In a world of too many Juniors and not enough Seniors,we provide
              experience to inexperienced developers.
            </p>
          </div>
        </div>
        <div class="flag">
          <div class="flag-border">
            <img src="../../assets/images/flaga.svg" alt="" />
            <div class="stick"></div>
          </div>
          <div class="flag-content">
            <p>
              In a world of high rotation, we offer retention in formsof Loyalty
              Agreements and continuous growth.
            </p>
          </div>
        </div>
        <div class="flag">
          <div class="flag-border">
            <img src="../../assets/images/flaga.svg" alt="" />
            <div class="stick"></div>
          </div>
          <div class="flag-content">
            <p>
              In a world where job hunting can take a year, we offerhelp with
              the process to take on tedious tasks.
            </p>
          </div>
        </div>
        <div class="flag">
          <div class="flag-border">
            <img src="../../assets/images/flaga.svg" alt="" />
          </div>
          <div class="flag-content">
            <p>
              We bring proper sourcing-related incentives toSoftware Engineers.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="perspectives-container">
      <div class="header">
        <div class="perspectives-circle"></div>
        <div class="ourway-title-wrapper">
          <img class="stars" src="../../assets/images/stars.svg" alt="" />
          <div class="ourway-title">
            <p class="perspectives-header">Our <strong>perspective</strong></p>
            <p class="ourway-slogan">
              Scratching the itches of SoftwareEngineers.
            </p>
            <div class="perspective-content-desktop">
              <p>
                Our selection of services comes from first-handexperience of a
                Software Engineer who has spent yearspaying attention to the IT
                landscape, researching, and talking to his friends and
                colleagues in pursuit ofinnovative contributions.
              </p>
              <p>
                Knowing the market and needs of Software Engineers, we know how
                to make engineers happier.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="perspective-content">
        <p>
          Our selection of services comes from first-handexperience of a
          Software Engineer who has spent yearspaying attention to the IT
          landscape, researching, and talking to his friends and colleagues in
          pursuit ofinnovative contributions.
        </p>
        <p>
          Knowing the market and needs of Software Engineers, we know how to
          make engineers happier.
        </p>
      </div>
      <img
        class="perspectives-stripes"
        src="../../assets/images/stripes2.svg"
        alt=""
      />
    </div>
    <div class="overview">
      <div class="overview-title-wrapper">
        <div class="flex-item-container">
          <div class="logo-overview">
            <img src="../../assets/images/overview-logo1.svg" alt="" />
          </div>
          <div class="overview-content">
            <p class="overview-title">Skills <strong>overview</strong></p>
            <p class="overview-slogan">What to expect.</p>
            <p>
              Launchpad trains mainly Web Developers, with anemphasis on Front
              End. Javascript, Typescript, React,Angular, Java. The technology
              stack is expected to growwith opening the next branches.
            </p>
            <p>
              Assistants, as well as Sourcing, get access to whoever
              isinterested, bringing wider skills to the table.
            </p>
          </div>
        </div>
        <div class="flex-item-container reversed">
          <div class="logo-overview">
            <img src="../../assets/images/overview-logo2.png" alt="" />
          </div>
          <div class="overview-content">
            <div class="overview-title-wrapper">
              <p class="overview-title">Workflow <strong>overview</strong></p>
              <p class="overview-slogan">Cooperation desription</p>
            </div>
            <p>
              Each Launchpad is expected to source a new batch ofengineers every
              6 - 12 months. We give our partnersadequate heads up with skills
              and timeframes forpotential hires so that partners have enough
              time forfinding the right placement.
            </p>
            <p>
              Our Assistants pass the profiles and expectations ofengineers as
              they express willingness to work with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
